{% extends 'site2016/base.html' %}
{% load static %}

{% block title %}
Manual C - PET-BCC UFSCar
{% endblock title %}

{% block head_extensions %}

{% endblock head_extensions %}

{% block body %}
<div class="ui grid">
  <div class="sixteen wide column">
    <header class="ui inverted masthead center aligned segment" id="fundo_azul_titulo">
      <h1 class="ui inverted header">
        Manual C
      </h1>
    </header>
  </div>
</div>
<main role="main">
  <section class="ui vertical stripe segment" id="fundo_cinza" role="region">
    <div class="ui stackable grid">
      <div class="three wide column">
        {% block sidebar_content %}
        {% include 'site2016/manualC/leftSidebar.html' %}
        {% endblock sidebar_content %}
      </div>
      <div class="twelve wide column">
        <div class="row">
          <div class="ui padded basic segment">
            <div class="ui two column stackable center aligned grid">
              <div class="column">
                <h2 class="ui center aligned aligned header manC_laranja">
                  Guia Rápido
                </h2>
                <div class="justificado">
                  Ao lado esquerdo temos uma barra de navegação que te expõe links para as bibliotecas. Mais abaixo
                  também há links para as bibliotecas da linguagem C juntamente com uma breve descrição sobre o que cada
                  uma disponibiliza.
                  C.
                </div>
              </div>
              <div class="column">
                <div class="ui basic segment">
                  <video width="500" height="180" controls>
                    <source src="../../../static/site2016/videos/gravacao_manualc.webm" type="video/webm">
                    Your browser does not support the video tag.
                  </video>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui divider"></div>
        <div class="row">
          <h2 class="ui center aligned aligned header manC_laranja">
            Bibliotecas
          </h2>
          <div class="ui relaxed divided list">
            <!-- assert inicio -->
            <div class="item">
              <div class="content">
                <a class="manC_laranja_escuro" href="{% url 'assert_h' %}">
                  <h3>assert.h</h3>
                </a>
                <div class="description justificado">Na biblioteca &ltassert.h&gt tem apenas uma função: assert(), a
                  qual pode ser usada para verificar a veracidade de uma expressão durante a execução do programa e
                  interromper a execução do programa com uma mensagem de diagnóstico em caso de falha. </div>
              </div>
            </div>
            <!-- ctype inicio -->
            <div class="item">
              <div class="content">
                <a class="manC_laranja odd" href="{% url 'ctype_h' %}">
                  <h3>ctype.h</h3>
                </a>
                <div class="description justificado">Na biblioteca &ltctype.h&gt estão
                  funções para classificar caracteres ASCII, ou seja, para
                  dizer se um dado byte representa uma letra, ou um dígito,
                  ou um branco etc. em código ASCII. Mesmo que o
                  argumento de cada função não seja um char mas sim um
                  inteiro positivo, o caractere que é passado para a
                  função, internamente, é convertido em seu valor ASCII
                  para a verificação.</div>
              </div>
            </div>
            <!-- errno inicio -->
            <div class="item">
              <div class="content">
                <a class="manC_laranja_escuro" href="{% url 'errno_h' %}">
                  <h3>errno.h</h3>
                </a>
                <div class="description">O arquivo de cabeçalhos &lterrno.h&gt fornece alguns macros de números inteiros para reconhecer e relatar erros de execução através de códigos de erro, esses códigos são fornecidos pelo próprio sistema operacional e retornados ao programa durante sua execução.</div>
              </div>
            </div>
            <!-- float inicio -->
            <div class="item">
              <div class="content">
                <a class="manC_laranja odd" href="{% url 'float_h' %}">
                  <h3>float.h</h3>
                </a>
                <div class="description">O arquivo de cabeçalhos &ltfloat.h&gt fornece alguns macros de números de pontos flutuantes do tipo ‘float’ para o sistema específico e a implementação para o compilador utilizado.</div>
              </div>
            </div>
            <!-- limits inicio -->
            <div class="item">
              <div class="content">
                <a class="manC_laranja_escuro" href="{% url 'limits_h' %}">
                  <h3>limits.h</h3>
                </a>
                <div class="description justificado">
                  No cabeçalho &ltlimits.h&gt estão definidas as constantes que delimitam os valores máximos e mínimos que variáveis de um dado tipo podem assumir. Assim, é possível operar com os tipos presentes na linguagem C tendo-se absoluta certeza que uma determinada variável serve ao propósito de alguma aplicação para a qual ele foi designado, uma vez que se espera que essa variável esteja limitada superiormente e inferiormente.</div>
              </div>
            </div>
            <!-- math inicio -->
            <div class="item">
              <div class="content">
                <a class="manC_laranja odd" href="{% url 'math_h' %}">
                  <h3>math.h</h3>
                </a>
                <div class="description justificado">Na biblioteca &ltmath.h&gt estão contidas diversas funções
                  matemáticas básicas, com ela podemos trabalhar com funções trigonométricas, funções para cálculo de
                  raiz quadrada, valor absoluto, entre outras.</div>
              </div>
            </div>
            <!-- setjmp inicio -->
            <div class="item">
              <div class="content">
                <a class="manC_laranja_escuro" href="{% url 'setjmp_h' %}">
                  <h3>setjmp.h</h3>
                </a>
                <div class="description">No cabeçalho &ltsetjmp.h&gt estão presentes funções e tipos que são capazes de manipular o fluxo de execução de um programa. Portanto, trata-se de um cabeçalho do qual seus recursos devem ser utilizados apenas em 
                  situações nas quais estes são a única opção, caso o código escrito esteja seguindo o paradigma de programação estruturada, uma vez que os efeitos das funções presentes neste cabeçalho assemelham-se ao uso de goto's no código.
                </div>

              </div>
            </div>
            <!-- stdarg inicio -->
            <div class="item">
              <div class="content">
                <a class="manC_laranja odd" href="{% url 'stdarg_h' %}">
                  <h3>stdarg.h</h3>
                </a>
                <div class="description">No cabeçalho encontram-se macros e tipos extremamente úteis, no que tange a criação de funções para as quais a quantidade de argumentos não tem uma quantidade finita definida. Assim, o cabeçalho &ltstdarg.h&gt é de muita valia com tais recursos, uma vez que o planejamento de funções sem um número fixo de argumentos torna-se algo viável.</div>
              </div>
            </div>
            <!-- stdio inicio -->
            <div class="item">
              <div class="content">
                <a class="manC_laranja_escuro" href="{% url 'stdio_h' %}">
                  <h3>stdio.h</h3>
                </a>
                <div class="description">No cabeçalho &ltstdio.h&gt estão localizadas as funções referentes às operações nas quais os mecanismos operam em função da entrada e da saída padrão, bem como em arquivos também. Portanto, por meio das variáveis, macros, e funções é possível realizar tarefas de leitura e escrita, tanto por meio da entrada e saída disponibilizada pela máquina, quanto por escrita e leitura em arquivos.
                </div>
              </div>
            </div>
            <!-- stdlib inicio -->
            <div class="item">
              <div class="content">
                <a class="manC_laranja odd" href="{% url 'stdlib_h' %}">
                  <h3>stdlib.h</h3>
                </a>
                <div class="description justificado">No cabeçalho &ltstdlib.h&gt estão localizadas as funções responsáveis pela manipulação da alocação de memória, e da desalocação também, bem como funções para converter números que estão representados em strings para algum tipo de dado responsável por representar números, como, por exemplo, double, entre outras funcionalidades úteis, como funções de algoritmos de ordenação.</div>
              </div>
            </div>
            <!-- string inicio -->
            <div class="item">
              <div class="content">
                <a class="manC_laranja_escuro" href="{% url 'string_h' %}">
                  <h3>string.h</h3>
                </a>
                <div class="description justificado"> Na biblioteca &ltstring.h&gt estão contidos protótipos utilizados para a manipulação de strings, também conhecidos como array de chars. Estas funções são capazes desde a contagem, cópia e concatenação, comparação e diversas outras modificações como podemos ver nos
                  exemplos a seguir.</div>
              </div>
            </div>
            <!-- signal inicio -->
            <div class="item">
              <div class="content">
                <a class="manC_laranja odd" href="{% url 'signal_h' %}">
                  <h3>signal.h</h3>
                </a>
                <div class="description justificado"> Na biblioteca &ltsignal.h&gt estão presentes funções e macros que lidam com os sinais enviados pelo programa executado no momento em que ele está sendo executado, como, por exemplo, quando o programa é finalizado de forma anormal ou quando algum tipo de operação aritmética apresenta erros, como a divisão por zero.
                </div>
              </div>
            </div>
            <!-- time inicio -->
            <div class="item">
              <div class="content">
                <a class="manC_laranja_escuro" href="{% url 'time_h' %}">
                  <h3>time.h</h3>
                </a>
                <div class="description justificado"> No cabeçalho &lttime.h&gt estão localizadas as funções, variáveis, e macros para manipulação de unidades de tempo, como, por exemplo, o ano, mês, dia, hora, minutos, e segundos. A partir das funções fornecidas é possível obter, por exemplo, a data e o horário retornadas pelo sistema, entre outras funcionalidades relacionadas a operações com data e hora. Ou seja, é um cabeçalho muito poderoso em termos de controle da execução do programa por intermédio do "tempo", e no que diz respeito a manipulação de ações e operações que tem como referência datas e horas.</div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}