{% load static %}

{% block sidebar_content %}
<div class="mobile hidden ui centered stackable grid">
  <div class="ui left fixed vertical menu">
    <div class="item">
      <div class="header">
        <h2 class="ui manC_laranja header">Bibliotecas</h2>
      </div>
    </div>
    <div class="item">
      <div class="menu">
        <a href="{% url 'math_h' %}" class="{% if pagina == 'math_h' %}active{% endif %} {% if pagina == 'math_funcoes' %}active{% endif %} item"><b>math.h</b></a>
        <a href="{% url 'assert_h' %}" class="{% if pagina == 'assert_h' %}active{% endif %} {% if pagina == 'assert_funcoes' %}active{% endif %} item"><b>assert.h</b></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}