{% extends 'site2016/base.html' %}
{% load static %}

{% block title %}
    Manual C - PET-BCC UFSCar
{% endblock title %}

{% block head_extensions %}

{% endblock head_extensions %}

{% block body %}
<div class="ui grid">
  <div class="sixteen wide column manC_title">
    <header class="ui inverted masthead center aligned segment" id="fundo_azul_titulo">
      <div class="ui grid">
          <div class="column">
              <div class="row">
                  <h1 class="ui inverted header" > <!-- Tirei o id, para ficar lowercase -->
                    Manual C
                  </h1>
              </div>
          </div>
      </div>
    </header>
  </div>
</div>
<main role="main" class="main_manC">
    <section class="ui vertical stripe segment" id="fundo_cinza" role="region">
      <div class="ui relaxed grid">
        <div class="three wide column">
          {% block sidebar_content %}
            {% include  'site2016/manualC/left_sidebar.html' %}
          {% endblock sidebar_content %}
        </div>
        <div class="twelve wide column">
          <div class="ui relaxed grid">
            <div class="two column row">
              <div class="column">
                <div class="ui basic segment">
                  <h2 class="ui left aligned aligned header manC_laranja">
                    Objetivo
                  </h2>
                  <div class="justificado">
                    A ideia do projeto é fornecer uma guia simples e objetivo para a linguagem de programação C. Contendo a maioria das bibliotecas e funções da linguagem. 
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="ui basic segment">
                  <h2 class="ui left aligned aligned header manC_laranja">
                    Público Alvo
                  </h2>
                  <div class="justificado">
                    Nosso público alvo são programadores o e pessoas que possuem um conhecimento básico sobre a linguagem e precisam de um lugar para consultas sobre a linguagem C.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui divider"></div>
          <div class="ui padded basic segment">
            <div class="ui two column stackable center aligned grid">
              <div class="column">
                <h2 class="ui center aligned aligned header manC_laranja">
                  Guia Rápido
                </h2>
                <div class="justificado">
                  Ao lado esquerdo, temos as referências sobre as bibliotecas de funções presentes na linguagem C. Guia Rápido . Ao lado esquerdo, temos as referências sobre as bibliotecas de funções presentes na linguagem C.
                </div>
              </div>
              <div class="black column">
                <div class="ui segment">
                  <div class="ui active dimmer">
                    <div class="ui text loader">Loading</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui divider"></div>
          <div class="ui relaxed grid">
            <div class="two column row">
              <div class="column">
                <div class="ui basic segment">
                  <h2 class="ui left aligned aligned header manC_laranja">
                    Sugestões
                  </h2>
                  <div class="row">
                    <div class="ui two column stackable centered grid">
                      <div class="column">
                        <form class="ui form" role="form" method="post" action=".">
                          <input type="hidden" name="csrfmiddlewaretoken" value="5N3scLRBfLJja0DTFc15yjHmIJ29YBE6Nl68peOPrHFYztptlj9Nkmj8X0xgj0I6">
                          <div class="field">
                              <label>Seu nome</label>
                              <input name="nome" placeholder="Seu nome" type="text" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                          </div>
                          <div class="field">
                              <label>Seu e-mail</label>
                              <input name="email" placeholder="Seu e-mail" type="text">
                          </div>
                          <div class="field">
                              <label>Assunto da mensagem</label>
                              <input name="assunto" placeholder="Assunto" type="text">
                          </div>
                        </form>
                      </div>
                      <div class="column">
                          <form class="ui form" role="form" method="post" action=".">
                              <div class="field">
                                  <label>Mensagem</label>
                                  <textarea name="mensagem" style="height: 30px;"></textarea>
                              </div>
                              <button class="ui button" type="submit">Enviar</button>
                              <div class="ui error message"></div>
                          </form>
                      </div>
                    </div>
                </div>
                </div>
              </div>
              <div class="column">
                <div class="ui basic segment">
                  <h2 class="ui left aligned aligned header manC_laranja">
                    Colaboradores
                  </h2>
                  <div class="justificado">
                    Nosso público alvo são programadores o e pessoas que possuem um conhecimento básico sobre a linguagem e precisam de um lugar para consultas sobre a linguagem C.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
{% endblock %}
