{% extends 'site2016/base.html' %}
{% load static %}

{% block title %}
Manual C - PET-BCC UFSCar
{% endblock title %}

{% block head_extensions %}

{% endblock head_extensions %}

{% block body %}
<div class="ui grid">
  <div class="sixteen wide column manC_title">
    <header class="ui inverted masthead center aligned segment"
      id="fundo_azul_titulo">
      <div class="ui grid">
        <div class="column">
          <div class="row">
            <h1 class="ui inverted header">
              <!-- Tirei o id, para ficar lowercase -->
              Manual C
            </h1>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>
<main role="main" class="main_manC">
  <section class="ui vertical stripe segment" id="fundo_cinza" role="region">
    <div class="ui relaxed grid">
      <div class="three wide column">
        <div class="ui sticky">
          {% block sidebar_content %}
            {% include 'site2016/manualC/leftSidebar.html' %}
          {% endblock sidebar_content %}
        </div>
      </div>
      <div class="twelve wide column">
        <div class="ui relaxed grid">
          <div class="two column row">
            <div class="column">
              <div class="ui basic segment">
                <h2 class="ui left aligned aligned header manC_laranja">
                  Objetivo
                </h2>
                <div class="justificado">
                  A ideia do projeto é fornecer uma guia simples e objetivo para
                  a linguagem de programação C. Contendo a maioria das
                  bibliotecas e funções da linguagem.
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui basic segment">
                <h2 class="ui left aligned aligned header manC_laranja">
                  Público Alvo
                </h2>
                <div class="justificado">
                  Nosso público alvo são programadores o e pessoas que possuem
                  um conhecimento básico sobre a linguagem e precisam de um
                  lugar para consultas sobre a linguagem C.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui padded basic segment">
          <div class="ui stackable center aligned grid">
            <div class="column">
              <h2 class="ui center aligned header manC_laranja">
                Guia Rápido
              </h2>
              <div class="ui basic segment">
                <video width="720" height="400" controls>
                  <source src="../../../static/site2016/videos/gravacao_manualc.webm" type="video/webm">
                Your browser does not support the video tag.
                </video>
              </div>
              <div>
                Caso tenha dúvidas sobre a navegação, assista o vídeo acima. Nele são demonstrados formas de navegar pelo site para consultas. 
              </div>
            </div>
          </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui relaxed grid">
          <div class="two column row">
            <div class="column">
              <div class="ui basic segment">
                <h2 class="ui left aligned aligned header manC_laranja">
                  Sugestões
                </h2>
                <div class="row">
                  <div class="justificado">
                    Em caso de dúvidas sobre as bibliotecas ou funções, ou sugestões entre em contato conosco por:
                  </div>
                </div>
                <div class="ui basic segment"><a class="ui left aligned aligned header manC_laranja_escuro" href="https://www.facebook.com/petbcc">
                  Facebook 
                </a> </div>
                <div class="ui basic segment"><a class="ui left aligned aligned header manC_laranja odd" href="https://www.instagram.com/petbcc.ufscar/">
                  Instagram 
                </a> </div>
                <div class="ui basic segment"><a class="ui left aligned aligned header manC_laranja_escuro">
                  petbcc@ufscar.br 
                </a> </div>
                <div class="ui basic segment"><a class="ui left aligned aligned header manC_laranja odd" href="https://github.com/petbccufscar/sitepetbcc">
                   Repositório GitHub
                </a> </div>
              </div>
            </div>
            <div class="column">
              <div class="ui basic segment">
                <h2 class="ui left aligned aligned header manC_laranja">
                  Colaboradores
                </h2>
              </div>
              <div class="ui centered grid">
                <div class="two column row">
                  <div class="column">
                    <img class="ui medium circular image" src="../../../static/site2016/images/jander_manC.png">
                  </div>
                  <div class="column">
                    <h3 class="ui header manC_laranja">Prof. Dr. Jander Moreira</h3>
                    <div class="justificado">
                      Durante a realização do projeto contamos com a ajuda do Professor Doutor Jander Moreira para revisão das bibliotecas pesquisadas e disponibilizadas.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
  $('.ui.form')
          .form({
              on: 'blur',
              fields: {
                  nome: {
                      identifier: 'nome',
                      rules: [
                          {
                              type: 'empty',
                              prompt: 'Por favor, informe seu nome.'
                          }
                      ]
                  },
                  email: {
                      identifier: 'email',
                      rules: [
                          {
                              type: 'email',
                              prompt: 'Por favor, digite um endereço de e-mail válido.'
                          }
                      ]
                  },
                  assunto: {
                      identifier: 'assunto',
                      rules: [
                          {
                              type: 'empty',
                              prompt: 'Por favor, preencha o campo Assunto.'
                          }
                      ]
                  },
                  name: {
                      identifier: 'mensagem',
                      rules: [
                          {
                              type: 'empty',
                              prompt: 'Por favor, digite a sua mensagem.'
                          }
                      ]
                  }
              }
          });
</script>
{% endblock %}