<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta name="theme-color" content="#0c4d78" />
    <title>Política de Privacidade UFSCar Planner</title>
    <style>
        thead{
            color: #fff;
        }


        table {
            border-collapse: collapse;
            border: 2px solid rgb(200, 200, 200);
            letter-spacing: 1px;
            font-family: sans-serif;
            font-size: .8rem;
        }

        td,
        th {
            border: 1px solid rgb(190, 190, 190);
            padding: 5px 10px;
        }

        td {
            text-align: center;
        }

        body {
            margin: 5em;
        }
    </style>
</head>

<body>
    <h1>Pol&iacute;tica de privacidade</h1>
    <h3>1. Do direito &agrave; privacidade</h3>
    <p style="text-align: justify;"><span style="color: #212529;">A Lei 13709/2018 - Lei Geral de Prote&ccedil;&atilde;o
            de Dados (LGPD) estabelece como fundamento o respeito &agrave; privacidade. A privacidade &eacute; um
            direito conferido a todo indiv&iacute;duo e consiste na habilidade que este tem de controlar a
            exposi&ccedil;&atilde;o de informa&ccedil;&otilde;es sobre sua vida pessoal, sua intimidade, bem como a
            disponibilidade de dados sobre si mesmo, de retificar, ratificar ou apagar estes e de proteger a
            confidencialidade de suas comunica&ccedil;&otilde;es, seu domic&iacute;lio, sua imagem, honra e
            reputa&ccedil;&atilde;o perante terceiros. Desse modo, a presente Pol&iacute;tica de Privacidade
            (&ldquo;Pol&iacute;tica&rdquo;) tem o prop&oacute;sito de comunicar de forma simples quais tipos de dados
            pessoais ser&atilde;o coletados, quando, de que forma e para quais finalidades ser&atilde;o
            utilizados.</span></p>
    <p style="text-align: justify;"><span style="color: #212529;">Quando o usu&aacute;rio aceita esta Pol&iacute;tica de
            Privacidade, confere sua livre e expressa concord&acirc;ncia com os termos aqui estipulados, diretamente ou
            por meio de seu respons&aacute;vel legal, que deve estar ciente tamb&eacute;m das regras aqui
            estabelecidas</span></p>
    <p style="text-align: justify;"><span style="color: #212529;">Este documento tem a finalidade de estabelecer a
            Pol&iacute;tica de Privacidade e os Termos de Uso.</span></p>
    <h3>2. Do prop&oacute;sito da coleta, uso e armazenamento das informa&ccedil;&otilde;es do usu&aacute;rio</h3>
    <p style="text-align: justify;"><span style="color: #212529;">A coleta, uso e armazenamento das suas
            informa&ccedil;&otilde;es t&ecirc;m como prop&oacute;sitos:</span></p>
    <ul>
        <li><span style="color: #212529;">promover os servi&ccedil;os da Universidade, al&eacute;m de informar sobre
                novidades, conte&uacute;dos e demais informa&ccedil;&otilde;es relevantes;</span></li>
        <li><span style="color: #212529;">armazenar prefer&ecirc;ncias de usu&aacute;rio com rela&ccedil;&atilde;o a
                interface do aplicativo;</span></li>
        <li><span style="color: #212529;">facilitar a organiza&ccedil;&atilde;o do estudante durante o semestre
                letivo.&nbsp;</span></li>
    </ul>
    <p style="text-align: justify;"><span style="color: #212529;">Quando voc&ecirc; usa o aplicativo, alguns dos dados
            inseridos s&atilde;o salvos localmente no seu dispositivo, enquanto outros n&atilde;o ser&atilde;o salvos.
            Logo, os dados inseridos no aplicativo s&atilde;o exclusivamente de seu acesso.</span></p>
    <h3>3. Sobre os dados tratados</h3>
    <div>
        <table>
            <tbody>
                <tr>
                    <td><span style="color: #212529;"><strong>Dados Coletados</strong></span></td>
                    <td><span style="color: #212529;"><strong>Dado Obrigat&oacute;rio</strong></span></td>
                    <td><span style="color: #212529;"><strong>Dado Armazenado</strong></span></td>
                    <td><span style="color: #212529;"><strong>Finalidade</strong></span></td>
                    <td><span style="color: #212529;"><strong>Bases Legais</strong></span></td>
                </tr>
                <tr>
                    <td><span style="color: #212529;">Campus</span></td>
                    <td><span style="color: #212529;">Sim</span></td>
                    <td><span style="color: #212529;">Sim</span></td>
                    <td><span style="color: #212529;">Identifica&ccedil;&atilde;o necess&aacute;ria &agrave;
                            opera&ccedil;&atilde;o do sistema e aos servi&ccedil;os prestados por meio dele.</span></td>
                    <td rowspan="11"><span style="color: #212529;">O tratamento dos dados &eacute; amparado nos par&aacute;grafos I e
                            III, art.7 da Lei N&ordm; 13.709, DE 14 DE AGOSTO DE 2018 que diz:</span><span
                            style="color: #212529;">Art. 7&ordm; O tratamento de dados pessoais somente poder&aacute;
                            ser realizado nas seguintes hip&oacute;teses:</span><span style="color: #212529;">I -
                            mediante o fornecimento de consentimento pelo titular;</span><span
                            style="color: #212529;">...</span><span style="color: #212529;">III - pela
                            administra&ccedil;&atilde;o p&uacute;blica, para o tratamento e uso compartilhado de dados
                            necess&aacute;rios &agrave; execu&ccedil;&atilde;o de pol&iacute;ticas p&uacute;blicas
                            previstas em leis e regulamentos ou respaldadas em contratos, conv&ecirc;nios ou
                            instrumentos cong&ecirc;neres, observadas as disposi&ccedil;&otilde;es do Cap&iacute;tulo IV
                            desta Lei;</span></td>
                </tr>
                <tr>
                    <td><span style="color: #212529;">CPF</span></td>
                    <td><span style="color: #212529;">N&atilde;o</span></td>
                    <td><span style="color: #212529;">N&atilde;o</span></td>
                    <td><span style="color: #212529;">Dado necess&aacute;rio a integra&ccedil;&atilde;o do UFSCar
                            Planner ao Sistema de Gest&atilde;o Acad&ecirc;mica.</span></td>
                </tr>
                <tr>
                    <td><span style="color: #212529;">RA</span></td>
                    <td><span style="color: #212529;">N&atilde;o</span></td>
                    <td><span style="color: #212529;">N&atilde;o</span></td>
                    <td><span style="color: #212529;">Dado necess&aacute;rio a integra&ccedil;&atilde;o do UFSCar
                            Planner ao Sistema de Gest&atilde;o Acad&ecirc;mica.</span></td>
                </tr>
                <tr>
                    <td><span style="color: #212529;">Fuso-hor&aacute;rio</span></td>
                    <td><span style="color: #212529;">N&atilde;o</span></td>
                    <td><span style="color: #212529;">N&atilde;o</span></td>
                    <td><span style="color: #212529;">Aprimorar a intera&ccedil;&atilde;o do usu&aacute;rio com o
                            sistema</span></td>
                </tr>
                <tr>
                    <td><span style="color: #212529;">Apelido</span></td>
                    <td><span style="color: #212529;">Sim</span></td>
                    <td><span style="color: #212529;">Sim</span></td>
                    <td><span style="color: #212529;">Tornar o uso do sistema mais acolhedor ao usu&aacute;rio.</span>
                    </td>
                </tr>
                <tr>
                    <td><span style="color: #212529;">Notas</span></td>
                    <td><span style="color: #212529;">N&atilde;o</span></td>
                    <td><span style="color: #212529;">Sim</span></td>
                    <td><span style="color: #212529;">Sendo uma plataforma de organiza&ccedil;&atilde;o
                            universit&aacute;ria o tratamento desse tipo de dado faz parte dos servi&ccedil;os prestados
                            por meio do UFSCar Planner</span></td>
                </tr>
                <tr>
                    <td><span style="color: #212529;">Frequ&ecirc;ncias</span></td>
                    <td><span style="color: #212529;">N&atilde;o</span></td>
                    <td><span style="color: #212529;">Sim</span></td>
                    <td><span style="color: #212529;">Sendo uma plataforma de organiza&ccedil;&atilde;o
                            universit&aacute;ria o tratamento desse tipo de dado faz parte dos servi&ccedil;os prestados
                            por meio do UFSCar Planner</span></td>
                </tr>
                <tr>
                    <td><span style="color: #212529;">Eventos</span></td>
                    <td><span style="color: #212529;">N&atilde;o</span></td>
                    <td><span style="color: #212529;">Sim</span></td>
                    <td><span style="color: #212529;">Sendo uma plataforma de organiza&ccedil;&atilde;o
                            universit&aacute;ria o tratamento desse tipo de dado faz parte dos servi&ccedil;os prestados
                            por meio do UFSCar Planner</span></td>
                </tr>
                <tr>
                    <td><span style="color: #212529;">Saldo atual da </span><span
                            style="color: #212529;"><em>carteirinha do restaurante universit&aacute;rio</em></span></td>
                    <td><span style="color: #212529;">N&atilde;o</span></td>
                    <td><span style="color: #212529;">Sim</span></td>
                    <td><span style="color: #212529;">Sendo uma plataforma de organiza&ccedil;&atilde;o
                            universit&aacute;ria o tratamento desse tipo de dado faz parte dos servi&ccedil;os prestados
                            por meio do UFSCar Planner</span></td>
                </tr>
                <tr>
                    <td><span style="color: #212529;">Valor padr&atilde;o da refei&ccedil;&atilde;o do restaurante
                            universit&aacute;rio</span></td>
                    <td><span style="color: #212529;">N&atilde;o</span></td>
                    <td><span style="color: #212529;">Sim</span></td>
                    <td><span style="color: #212529;">Sendo uma plataforma de organiza&ccedil;&atilde;o
                            universit&aacute;ria o tratamento desse tipo de dado faz parte dos servi&ccedil;os prestados
                            por meio do UFSCar Planner</span></td>
                </tr>
                <tr>
                    <td><span style="color: #212529;">Disciplinas a que o usu&aacute;rio est&aacute; vinculado.</span>
                    </td>
                    <td><span style="color: #212529;">N&atilde;o</span></td>
                    <td><span style="color: #212529;">Sim</span></td>
                    <td><span style="color: #212529;">Sendo uma plataforma de organiza&ccedil;&atilde;o
                            universit&aacute;ria o tratamento desse tipo de dado faz parte dos servi&ccedil;os prestados
                            por meio do UFSCar Planner</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3>4. Gest&atilde;o e seguran&ccedil;a das informa&ccedil;&otilde;es do usu&aacute;rio</h3>
    <p style="text-align: justify;"><span style="color: #212529;">Os dados sobre os deferimentos do usu&aacute;rio
            ser&atilde;o obtidos ap&oacute;s a verifica&ccedil;&atilde;o de seu v&iacute;nculo com a
            Institui&ccedil;&atilde;o, utilizando os dados relacionados a esta inseridos pelo usu&aacute;rio
            voluntariamente.</span></p>
    <p style="text-align: justify;"><span style="color: #212529;">As informa&ccedil;&otilde;es s&atilde;o protegidas com
            padr&otilde;es de seguran&ccedil;a e confidencialidade, para fornecer aos usu&aacute;rios um ambiente seguro
            e confi&aacute;vel atrav&eacute;s do uso de criptografia, certifica&ccedil;&otilde;es digitais e acessos
            controlados.</span></p>
    <h3>5. Cookies Utilizados</h3>
    <p style="text-align: justify;"><span style="color: #212529;"> O aplicativo n&atilde;o utiliza cookies.</span></p>
    <h3>6. Compartilhamento</h3>
    <p style="text-align: justify;"><span style="color: #212529;">Os dados coletados e enviados para o Google Analytics
            s&atilde;o anonimizados, fora isto o aplicativo n&atilde;o compartilha dados com terceiros.</span></p>
    <h3>7. Disposi&ccedil;&otilde;es Finais</h3>
    <p style="text-align: justify;"><span style="color: #212529;">As disposi&ccedil;&otilde;es constantes desta
            Pol&iacute;tica de Privacidade est&atilde;o sujeitas &agrave; melhoria e ao aprimoramento cont&iacute;nuo e
            podem ser atualizadas ou modificadas a qualquer momento, de forma unilateral ou em raz&atilde;o de lei,
            cabendo ao usu&aacute;rio, ou a seu respons&aacute;vel legal, caso seja menor de idade, o dever de
            ci&ecirc;ncia de seu teor no momento do acesso aos sites e plataformas de sistemas da
            institui&ccedil;&atilde;o. &Eacute; recomendado seja realizada a leitura peri&oacute;dica desta
            Pol&iacute;tica, para fins de atualiza&ccedil;&atilde;o e conhecimento de direitos e
            obriga&ccedil;&otilde;es.</span></p>
    <h3>8. Contato</h3>
    <p style="text-align: justify;"><span style="color: #212529;">Caso tenha alguma d&uacute;vida ou sugest&atilde;o
            sobre esta Pol&iacute;tica de Privacidade, n&atilde;o hesite em nos contatar atrav&eacute;s do email
            petbcc@ufscar.br.&nbsp;</span></p>
</body>

</html>