{% extends 'manual_c/base.html' %}

{% block title %}
Math.h - Manual C
{% endblock %}

{% block content %}
<section class="lib-section">
  <h1 class="lib-title">&lt;math.h&gt;</h1>

  <div class="lib-description">
    <p>Na biblioteca <strong>&lt;math.h&gt;</strong> estão contidas diversas funções matemáticas básicas. Com ela,
      podemos
      trabalhar com funções trigonométricas, funções para cálculo de raiz quadrada, valor absoluto, entre outras.</p>
    <p>
      Esta listagem apresenta as funções conforme definidas pelo padrão C99. A inclusão das funções da biblioteca
      matemática é feita com a opção de compilação <code class="code-inline">-lm</code>. Vale lembrar que todas as
      funções dessa biblioteca
      retornam valores do tipo <code class="code-inline">double</code>. Veremos, a seguir, todas elas.
    </p>
  </div>

  <h2 class="sub-section-text-lib">Funções</h2>

  <div class="btn-action-container">
    <a href="#acos" class="btn-action">acos()</a>
    <a href="#asin" class="btn-action">asin()</a>
    <a href="#atan" class="btn-action">atan()</a>
    <a href="#atan2" class="btn-action">atan2()</a>
    <a href="#ceil" class="btn-action">ceil()</a>
    <a href="#cos" class="btn-action">cos()</a>
    <a href="#cosh" class="btn-action">cosh()</a>
    <a href="#exp" class="btn-action">exp()</a>
    <a href="#fabs" class="btn-action">fabs()</a>
    <a href="#floor" class="btn-action">floor()</a>
    <a href="#frexp" class="btn-action">frexp()</a>
    <a href="#ldexp" class="btn-action">ldexp()</a>
    <a href="#log" class="btn-action">log()</a>
    <a href="#log10" class="btn-action">log10()</a>
    <a href="#modf" class="btn-action">modf()</a>
    <a href="#pow" class="btn-action">pow()</a>
    <a href="#sin" class="btn-action">sin()</a>
    <a href="#sinh" class="btn-action">sinh()</a>
    <a href="#sqrt" class="btn-action">sqrt()</a>
    <a href="#tan" class="btn-action">tan()</a>
    <a href="#tanh" class="btn-action">tanh()</a>
  </div>

  <section id="acos" class="func-container">
    <h3 class="func-header"><code class="language-c">double acos(double x)</code></h3>

    <div class="func-description">
      <p>Calcula o arco cosseno de um valor.</p>
      <div class="func-meta">
        <p>
          <strong>Recebe:</strong> o cosseno de um ângulo; isto é, um número entre -1 e 1 → -1 &lt;= cosseno &lt;=
          1.
        </p>
        <p>
          <strong>Retorna:</strong> o ângulo, em radianos, do cosseno que foi informado como parâmetro ou NaN se o
          argumento estiver fora do domínio de entrada.
        </p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                  
#include &lt;math.h&gt;
    
int main() {
    double cosseno;
    scanf("%lf", &cosseno);
    printf("o angulo cujo cosseno eh %.3lf, eh %.3lf aproximadamente", cosseno, acos(cosseno));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
0.5
o angulo cujo consseno eh 0.500, eh 1.047 aproximadamente</code></pre>
  </section>

  <section id="asin" class="func-container">
    <h3 class="func-header"><code class="language-c">double asin(double x)</code></h3>

    <div class="func-description">
      <p>Calcula o arco seno de um valor.</p>
      <div class="func-meta">
        <p><strong>Recebe:</strong> o seno de um ângulo, tal que, -1 &lt;= seno &lt;= 1.</p>
        <p>
          <strong>Retorna:</strong> o ângulo, em radianos, cujo seno foi informado como parâmetro ou NaN se o argumento
          estiver fora do domínio de entrada.
        </p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    double seno;
    scanf("%lf", &seno);
    printf("o angulo cujo seno eh %.3lf, eh %.3lf aproximadamente", seno, asin(seno));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
0.5
o angulo cujo seno eh 0.500, eh 0.524 aproximadamente</code></pre>
  </section>

  <section id="atan" class="func-container">
    <h3 class="func-header"><code class="language-c">double atan(double x)</code></h3>

    <div class="func-description">
      <p>Calcula a arco tangente de um valor.</p>
      <div class="func-meta">
        <p><strong>Recebe:</strong> a tangente de um ângulo.</p>
        <p><strong>Retorna:</strong> o ângulo, em radianos, cuja tangente foi informada como parâmetro.</p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    double tangente;
    scanf("%lf", &tangente);
    printf("o angulo cuja tangente eh %.3lf, eh %.3lf aproximadamente", tangente, atan(tangente));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
1
o angulo cuja tangente eh 1.000, eh 0.785 aproximadamente</code></pre>
  </section>

  <section id="atan2" class="func-container">
    <h3 class="func-header"><code class="language-c">double atan2(double x, double y)</code></h3>

    <div class="func-description">
      <p>Calcula o arco tangente de y / x.</p>
      <div class="func-meta">
        <p>
          <strong>Recebe:</strong> dois argumentos do tipo <code>double</code>: x, y. Elas são representações de um
          ponto
          no plano cartesiano.
        </p>
        <p>
          <strong>Retorna:</strong> o arco tangente de y / x no intervalo de -π a π radianos, dos valores informados
          como
          parâmetros.
        </p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    double x, y;
    scanf("%lf %lf", &x, &y);
    printf("%lf", atan2(y,x));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
2
2
0.785398</code></pre>
  </section>

  <section id="ceil" class="func-container">
    <h3 class="func-header"><code class="language-c">double ceil(double x)</code></h3>

    <div class="func-description">
      <p>Arredonda um número para cima (teto).</p>
      <div class="func-meta">
        <p><strong>Recebe:</strong> x, um valor do tipo <code>double</code>.</p>
        <p><strong>Retorna:</strong> o menor inteiro maior ou igual a x.</p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    double x;
    scanf("%lf", &x);
    printf("%.2lf", ceil(x));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
6.55
6.00</code></pre>
  </section>

  <section id="cos" class="func-container">
    <h3 class="func-header"><code class="language-c">double cos(double x)</code></h3>

    <div class="func-description">
      <p>Calcula o cosseno de um ângulo.</p>
      <div class="func-meta">
        <p><strong>Recebe:</strong> um ângulo em radianos.</p>
        <p><strong>Retorna:</strong> o valor do cosseno do ângulo que foi informado como parâmetro.</p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    double angulo;
    scanf("%lf", &angulo);
    printf("o cosseno de %.3lf, eh %.3lf aproximadamente", angulo, cos(angulo));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
1.047
o cosseno de 1.047, eh 0.500 aproximadamente</code></pre>
  </section>

  <section id="cosh" class="func-container">
    <h3 class="func-header"><code class="language-c">double cosh(double x)</code></h3>

    <div class="func-description">
      <p>Calcula o cosseno hiperbólico de um ângulo.</p>
      <div class="func-meta">
        <p><strong>Recebe:</strong> o valor de um ângulo em radianos.</p>
        <p><strong>Retorna:</strong> o cosseno hiperbólico do ângulo que foi informado como parâmetro.</p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    double angulo;
    scanf("%lf", &angulo);
    printf("o cosseno hiperbólico de %.3lf, eh %.3lf aproximadamente", angulo, cosh(angulo));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
3.14
o cosseno hiperbólico de 3.140, eh 11.574 aproximadamente</code></pre>
  </section>

  <section id="exp" class="func-container">
    <h3 class="func-header"><code class="language-c">double exp(double x)</code></h3>

    <div class="func-description">
      <p>Calcula a função exponencial.</p>
      <div class="func-meta">
        <p><strong>Recebe:</strong> um número x do tipo <code>double</code>.</p>
        <p>
          <strong>Retorna:</strong> o número de Euler (~2.71) elevado a x: e<sup>x</sup> = exp(x), informado como
          parâmetro.
        </p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    double x;
    scanf("%lf", &x);
    printf("%.2lf", exp(x));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
1
2.72</code></pre>
  </section>

  <section id="fabs" class="func-container">
    <h3 class="func-header"><code class="language-c">double fabs(double x)</code></h3>

    <div class="func-description">
      <p>Calcula o valor absoluto (módulo) de um número de ponto flutuante.</p>
      <div class="func-meta">
        <p><strong>Recebe:</strong> x, um valor do tipo <code class="code-inline">double</code>.</p>
        <p><strong>Retorna:</strong> o módulo de x.</p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    double x;
    scanf("%lf", &x);
    printf("%.2lf", fabs(x));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
-9
9.00</code></pre>
  </section>

  <section id="floor" class="func-container">
    <h3 class="func-header"><code class="language-c">double floor(double x)</code></h3>

    <div class="func-description">
      <p>Arredonda um número para baixo (chão).</p>
      <div class="func-meta">
        <p><strong>Recebe:</strong> x, um valor do tipo <code class="code-inline">double</code>.</p>
        <p><strong>Retorna:</strong> o maior valor inteiro menor ou igual a x.</p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    double x;
    scanf("%lf", &x);
    printf("%.2lf", floor(x));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
8.79
8.00</code></pre>
  </section>

  <section id="frexp" class="func-container">
    <h3 class="func-header"><code class="language-c">double frexp(double x, int *expoente)</code></h3>

    <div class="func-description">
      <p>Divide um número de ponto flutuante em uma fração (mantissa) e um expoente.</p>
      <div class="func-meta">
        <p><strong>Recebe:</strong> dois parâmetros, um do tipo <code class="code-inline">double</code> e outro do tipo ponteiro para o
          expoente inteiro armazenado.
        <p>
          <strong>Retorna:</strong> a mantissa (m). Se x for 0, a função retornará 0 para a mantissa e o expoente. A
          função divide o valor de ponto flutuante (x) em uma mantissa (m) e um expoente (n), de modo que o valor
          absoluto
          da mantissa seja maior ou igual a 0,5 e menor que 1,0 e x = m * 2<sup>n</sup>. O expoente inteiro n é
          armazenado
          no local apontado pelo ponteiro.
        </p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    float x;
    int expoente;
    scanf("%f", &x);
    printf("%.2lf", frexp(x, &expoente));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
1024
0.50</code></pre>
  </section>

  <section id="ldexp" class="func-container">
    <h3 class="func-header"><code class="language-c">double ldexp(double x, int *expoente)</code></h3>

    <div class="func-description">
      <p>Multiplica um número de ponto flutuante por 2 elevado a um expoente inteiro.</p>
      <div class="func-meta">
        <p>
          <strong>Recebe:</strong> x, do tipo <code>double</code> que será a base e exp do tipo <code>int</code> que
          será
          o expoente.
        </p>
        <p><strong>Retorna:</strong> x * 2<sup>exp</sup> dos valores informados como parâmetros.</p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    double x;
    int expoente;
    scanf("%lf %d", &x, &expoente);
    printf("%.2lf", ldexp(x, expoente));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
4
3
32.00</code></pre>
  </section>

  <section id="log" class="func-container">
    <h3 class="func-header"><code class="language-c">double log(double x)</code></h3>

    <div class="func-description">
      <p>Calcula o logaritmo natural (base e) de um número.</p>
      <div class="func-meta">
        <p><strong>Recebe:</strong> um valor x do tipo <code class="code-inline">double</code>.</p>
        <p><strong>Retorna:</strong> o valor de ln x, ou seja, o logaritmo de x na base e.</p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
  double x;
  scanf("%lf", &x);
  printf("%.2lf", log(x));
  return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
2.718
1.00</code></pre>
  </section>

  <section id="log10" class="func-container">
    <h3 class="func-header"><code class="language-c">double log10(double x)</code></h3>

    <div class="func-description">
      <p>Calcula o logaritmo na base 10 de um número.</p>
      <div class="func-meta">
        <p><strong>Recebe:</strong> um valor x do tipo <code class="code-inline">double</code>.</p>
        <p><strong>Retorna:</strong> o valor do logaritmo de x na base 10.</p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    double x;
    scanf("%lf", &x);
    printf("%.2lf", log10(x));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
100
2.00</code></pre>
  </section>

  <section id="modf" class="func-container">
    <h3 class="func-header"><code class="language-c">double modf(double x, double *p)</code></h3>

    <div class="func-description">
      <p>Separa um número de ponto flutuante em partes inteira e fracionária.</p>
      <div class="func-meta">
        <p><strong>Recebe:</strong> o valor <code class="code-inline">double</code> x e o endereço de um <code
            class="code-inline">double</code> p.</p>
        <p><strong>Retorna:</strong> a parte decimal de x no valor da função e a parte inteira de x no parâmetro p.</p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    double x, p;
    scanf("%lf", &x);
    printf("%.5lf", modf(x, &p));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
2.58974
0.58974</code></pre>
  </section>

  <section id="pow" class="func-container">
    <h3 class="func-header"><code class="language-c">double pow(double x, double y)</code></h3>

    <div class="func-description">
      <p>Calcula a potência de um número (base elevada ao expoente).</p>
      <div class="func-meta">
        <p>
          <strong>Recebe:</strong> dois valores do tipo <code class="code-inline">double</code>, x e y, em que x será a
          base e y será o
          expoente.
        </p>
        <p><strong>Retorna:</strong> x elevado a y.</p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    double x, y;
    scanf("%lf%lf", &x, &y);
    printf("%.2lf", pow(x, y));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
2
5
32.00</code></pre>
  </section>

  <section id="sin" class="func-container">
    <h3 class="func-header"><code class="language-c">double sin(double x)</code></h3>

    <div class="func-description">
      <p>Calcula o seno de um ângulo.</p>
      <div class="func-meta">
        <p><strong>Recebe:</strong> um ângulo em radianos.</p>
        <p><strong>Retorna:</strong> o valor do seno do ângulo que foi informado como parâmetro.</p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    double angulo;
    scanf("%lf", &angulo);
    printf("o seno de %.3lf, eh %.3lf aproximadamente", angulo, sin(angulo));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
1.047
o seno de 1.047, eh 0.866 aproximadamente</code></pre>
  </section>

  <section id="sinh" class="func-container">
    <h3 class="func-header"><code class="language-c">double sinh(double x)</code></h3>

    <div class="func-description">
      <p>Calcula o seno hiperbólico de um ângulo.</p>
      <div class="func-meta">
        <p><strong>Recebe:</strong> um ângulo em radianos.</p>
        <p><strong>Retorna:</strong> o seno hiperbólico do ângulo que foi informado como parâmetro.</p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    double angulo;
    scanf("%lf", &angulo);
    printf("o seno hiperbólico de %.3lf, eh %.3lf aproximadamente", angulo, sinh(angulo));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
3.14
o seno hiperbólico de 3.140, eh 11.530 aproximadamente</code></pre>
  </section>

  <section id="sqrt" class="func-container">
    <h3 class="func-header"><code class="language-c">double sqrt(double x)</code></h3>

    <div class="func-description">
      <p>Calcula a raiz quadrada de um número.</p>
      <div class="func-meta">
        <p><strong>Recebe:</strong> x, um valor do tipo <code class="code-inline">double</code>.</p>
        <p><strong>Retorna:</strong> a raiz quadrada de x ou NaN se x for negativo.</p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    double x;
    scanf("%lf", &x);
    printf("%.2lf", sqrt(x));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
16
4.00</code></pre>
  </section>

  <section id="tan" class="func-container">
    <h3 class="func-header"><code class="language-c">double tan(double x)</code></h3>

    <div class="func-description">
      <p>Calcula a tangente de um ângulo.</p>
      <div class="func-meta">
        <p><strong>Recebe:</strong> um ângulo em radianos.</p>
        <p><strong>Retorna:</strong> o valor da tangente do ângulo que foi informado como parâmetro.</p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    double angulo;
    scanf("%lf", &angulo);
    printf("a tangente de %.3lf, eh %.3lf aproximadamente", angulo, tan(angulo));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
1.047
o seno de 1.047, eh 1.731 aproximadamente</code></pre>
  </section>

  <section id="tanh" class="func-container">
    <h3 class="func-header"><code class="language-c">double tanh(double x)</code></h3>

    <div class="func-description">
      <p>Calcula a tangente hiperbólica de um ângulo.</p>
      <div class="func-meta">
        <p><strong>Recebe:</strong> um ângulo em radianos.</p>
        <p><strong>Retorna:</strong> a tangente hiperbólica do ângulo que foi informado como parâmetro.</p>
      </div>
    </div>

    <h4 class="sub-section-text-lib">Exemplo</h4>
    <pre class="code-block"><code class="language-c">#include &lt;stdio.h&gt;                                          
#include &lt;math.h&gt;

int main() {
    double angulo;
    scanf("%lf", &angulo);
    printf("a tangente hiperbólica de %.3lf, eh %.3lf aproximadamente", angulo, tanh(angulo));
    return 0;
}</code></pre>

    <h4 class="sub-section-text-lib">Saída esperada</h4>
    <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c
>./main
5
a tangente hiperbólica de 5, eh 1.000 aproximadamente</code></pre>
  </section>

</section>
{% endblock %}