{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <script src="{% static 'site2016/js/jquery.js' %}"></script>
    <script src="{% static 'site2016/css/semantic/semantic.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'site2016/css/semantic/semantic.min.css' %}">
    {% block head_extensions %}{% endblock head_extensions %}
</head>
<body>

{% block menu %}
    {% include 'site2016/menu.html' %}
{% endblock menu %}

<div class="branco">
    {% block body %}{% endblock body %}
</div>

{% block footer %}
    {% include 'site2016/rodape.html' %}
{% endblock footer %}

</body>
</html>