{% load static %}

<!DOCTYPE html>
<html class="loading" lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta name="theme-color" content="#0c4d78"/>

    <title>{% block title %}{% endblock title %}</title>

    <script src="{% static 'site2016/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'site2016/js/wow.min.js' %}"></script>
    <script src="{% static 'site2016/css/semantic/semantic.min.js' %}"></script>
    <script src="{% static 'site2016/js/custom.js' %}"></script>

    {% if not DEBUG %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-88260406-1', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}

    <!-- Para inserir códigos o site da Semantic UI usa highlight.js -->
    <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
    <!-- Muda o estilo do codigo -->
    <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/vs2015.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script>
    hljs.highlightAll();
    // Configurando a indentação
    hljs.configure({
        tabReplace: '  ' // Dois espaços
    })
    hljs.initHighlighting();
    </script>

    <link rel="stylesheet" href="{% static 'site2016/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'site2016/css/main.css' %}">
    <!-- CSS rascunhado para manual -->
    <link rel="stylesheet" href="{% static 'site2016/css/manual_c.css' %}">
    
    <!--Favicon-->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'site2016/favicon/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'site2016/favicon/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'site2016/favicon/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'site2016/favicon/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'site2016/favicon/apple-touch-icon-60x60.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'site2016/favicon/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'site2016/favicon/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'site2016/favicon/apple-touch-icon-152x152.png' %}" />

    <link rel="icon" type="image/png" href="{% static 'site2016/favicon/favicon-196x196.png' %}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{% static 'site2016/favicon/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static 'site2016/favicon/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'site2016/favicon/favicon-16x16.png' %}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static 'site2016/favicon/favicon-128.png' %}" sizes="128x128" />
    <meta name="application-name" content="PET-BCC"/>

    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static 'site2016/favicon/mstile-144x144.png' %}" />
    <meta name="msapplication-square70x70logo" content="{% static 'site2016/favicon/mstile-70x70.png' %}" />
    <meta name="msapplication-square150x150logo" content="{% static 'site2016/favicon/mstile-150x150.png' %}" />
    <meta name="msapplication-wide310x150logo" content="{% static 'site2016/favicon/mstile-310x150.png' %}" />
    <meta name="msapplication-square310x310logo" content="{% static 'site2016/favicon/mstile-310x310.png' %}" />
    <!--Favicon-->

    {% block head_extensions %}{% endblock head_extensions %}
</head>
<body>

<div class="preloader">
    <img src="{% static 'site2016/images/loading.gif' %}" alt="Aguarde! Carregando..." height="30%">
</div>

<div class="pusher">

    {% block menu %}
        {% include 'site2016/menu.html' %}
    {% endblock menu %}


    <div class="branco">
        {% block body %}{% endblock body %}
    </div>
    {% block footer %}
        {% include 'site2016/rodape.html' %}
    {% endblock footer %}

    <a href="#" class="go-top"><i class="arrow circle up icon"></i></a>
</div>
</body>
</html>