{% extends 'site2016/base.html' %}
{% load staticfiles %}

{% block title %}
    Contato - PET-BCC UFSCar
{% endblock title %}

{% block head_extensions %}
    <link rel="stylesheet" href="{% static 'site2016/css/custom.css' %}">
{% endblock head_extensions %}

{% block body %}
    <header class="ui inverted masthead center aligned segment" id="fundo_azul_titulo">
        <div class="ui grid">
            <div class="column">
                <div class="row">
                    <h1 class="ui inverted header" id="titulo_pagina">
                        Contato
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <main role="main">
        <section class="ui vertical stripe segment" id="fundo_cinza" role="region">
            <div class="ui stackable center aligned grid container">
                <div class="row">
                    <div class="column center aligned">
                        <h3 class="ui centered header">
                        Dúvidas, sugestões ou comentários? Entre em contato conosco pelo formulário a seguir:</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="ui two column stackable centered grid">
                        <div class="column">
                            <form class="ui form" role="form" method="post" action=".">
                                {% csrf_token %}
                                <div class="field">
                                    <label>Seu nome</label>
                                    <input name="nome" placeholder="Seu nome" type="text">
                                </div>
                                <div class="field">
                                    <label>Seu e-mail</label>
                                    <input name="email" placeholder="Seu e-mail" type="text">
                                </div>
                                <div class="field">
                                    <label>Assunto da mensagem</label>
                                    <input name="assunto" placeholder="Assunto" type="text">
                                </div>
                                <div class="field">
                                    <label>Mensagem</label>
                                    <textarea name="mensagem" style="height: 30px;"></textarea>
                                </div>
                                <button class="ui button" type="submit">Enviar</button>
                                <div class="ui error message"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <style>
            .google-maps-responsive {
                overflow:hidden;
                padding-bottom: 30%;
                position:relative;
                height:0;
            }

            @media (max-width: 800px) {
                .google-maps-responsive {
                    padding-bottom: 50%;
                }
            }

            .google-maps-responsive iframe {
                left:0;
                top:0;
                height:100%;
                width:100%;
                position:absolute;
            }
        </style>

        <section class="google-maps-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3699.8238490302215!2d-47.88273818439348!3d-21.979722710974197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b8711e42fdad05%3A0x6a0cd2ccbce13d28!2sDepartamento+de+Computa%C3%A7%C3%A3o%2C+Universidade+Federal+de+S%C3%A3o+Carlos!5e0!3m2!1sen!2sus!4v1480425559308" width="1920" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </section>

    </main>

    <script>
        $('.ui.form')
                .form({
                    on: 'blur',
                    fields: {
                        nome: {
                            identifier: 'nome',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Por favor, informe seu nome.'
                                }
                            ]
                        },
                        email: {
                            identifier: 'email',
                            rules: [
                                {
                                    type: 'email',
                                    prompt: 'Por favor, digite um endereço de e-mail válido.'
                                }
                            ]
                        },
                        assunto: {
                            identifier: 'assunto',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Por favor, preencha o campo Assunto.'
                                }
                            ]
                        },
                        name: {
                            identifier: 'mensagem',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Por favor, digite a sua mensagem.'
                                }
                            ]
                        }
                    }
                });
    </script>

{% endblock body %}