{% extends 'site2016/base.html' %}
{% load staticfiles %}

{% block title %}
    Equipe - PET-BCC UFSCar
{% endblock title %}

{% block head_extensions %}
    <link rel="stylesheet" href="{% static 'site2016/css/custom.css' %}">
{% endblock head_extensions %}

{% block body %}
    <div class="ui inverted masthead center aligned segment" id="fundo_azul">
        <div class="ui grid">
            <div class="column">
                <div class="row">
                    <h1 class="ui inverted header">
                        Equipe PET-BCC 2016
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="ui stripe medium-font vertical feature segment">
        <div class="ui container grid">
            <div class="centered row">
                <h1 class="ui header">Professores</h1>
            </div>

            <div class="centered row">
                <div class="ui stackable grid">
                    <div class="three column center aligned row">
                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/equipe/valter_vieira_de_camargo.jpg' %}">
                                <h3 class="ui header">Dr. Valter Vieira de Camargo</h3>
                                Tutor do PET-BCC e Coordenador do Curso
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/equipe/antonio_carlos_dos_santos.png' %}">
                                <h3 class="ui header">Dr. Antonio Carlos dos Santos</h3>
                                Professor colaborador
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/equipe/rosangela_aparecida_dellosso_penteado.jpg' %}">
                                <h3 class="ui header">Dr.ª Rosângela Ap. Dellosso Penteado</h3>
                                Professora colaboradora
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui stripe medium-font vertical feature segment" id="fundo_cinza">
        <div class="ui container grid">
            <div class="centered row">
                <h1 class="ui header">Alunos Bolsistas</h1>
            </div>

            <div class="row">
                <div class="ui stackable center aligned grid">

                    <div class="six column center aligned row">
                        {% for integrante in integrantes %}
                            {% if forloop.counter0|divisibleby:6 %}
                                </div>
                            <div class="six column center aligned row">
                            {% endif %}
                            <div class="column">
                                <div class="content">
                                    <img class="ui centered small circular image"
                                        src="{% static 'site2016/images/equipe/' %}{{ integrante.foto }}">
                                    <h3 class="ui header">{{ integrante.nome }}</h3>
                                    BCC {{ integrante.ano }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui stripe medium-font vertical feature segment">
        <div class="ui container grid">

            <div class="centered row">
                <h1 class="ui header">Alunos Voluntários</h1>
            </div>

            <div class="centered row">
                <div class="ui equal width stackable grid">
                    <div class="center aligned row">

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/equipe/fernando_messias_da_silva.jpg' %}">
                                <h3 class="ui header">Fernando Messias da Silva</h3>
                                BCC 012
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/equipe/julia_de_moura_caetano.jpg' %}">
                                <h3 class="ui header">Julia de Moura Caetano</h3>
                                BCC 015
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/equipe/miguel_de_souza_tosta.jpg' %}">
                                <h3 class="ui header">Miguel de Souza Tosta</h3>
                                BCC 015
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment" id="fundo_cinza">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="column">
                    <h1 class="ui centered header">Quais são as vagas para fazer parte da equipe?</h1>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <h3 class="ui header">Bolsistas</h3>
                    <p>O PET pode ter até 12 alunos bolsistas, que recebem uma bolsa de R$ 400,00 mensalmente. A
                        dedicação é de 20 horas semanais e a participação no PET por pelo menos um ano garante as
                        60 horas de Atividades Complementares exigidas no curso de Ciência da Computação da UFSCar.</p>
                    <h3 class="ui header">Não bolsistas</h3>
                    <p>Caso todas as vagas para alunos bolsistas já estejam preenchidas, o PET pode ainda ter 6 alunos
                        atuando como não bolsistas. As obrigações são as mesmas dos alunos bolsistas, assim como o
                        certificado recebido, que também vale como Atividades Complementares para o curso. No caso de
                        algum bolsista se desligar do PET, os alunos não bolsistas viram bolsistas automaticamente, sem
                        necessidade de novo processo seletivo. A ordem de distribuição das bolsas é definida pela
                        classificação do candidato no processo seletivo o qual participou.</p>
                    <h3 class="ui header">Voluntários</h3>
                    <p>Se as 18 vagas para bolsistas e não bolsistas já estiverem preenchidas, aida é possível ser um
                        membro do PET como um voluntário. Mesmo como voluntário você terá participação efetiva nos
                        projetos, garantindo muito conhecimento e um grande incremento em sua graduação.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui stripe medium-font vertical feature segment">
        <div class="ui container grid">
            <div class="centered row">
                <h1 class="ui header">Ex-membros</h1>
            </div>

            <div class="row">
                <div class="ui equal width stackable grid">
                    <div class="center aligned row">
                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Alan Cesar Laine</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Ana Dulce Padovan Torres</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">André Vinicius Bertoni Nicoleti</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Bruno Dias Leite</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Bruno F. Rodrigues</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Bruno Guerra D. Pereira</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Bruno Luigi Borgo</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Bruno Santos</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Caroline Castor dos Santos</h4>
                                Dolor Sit
                            </div>
                        </div>
                    </div>
                    <div class="center aligned row">
                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Denis Cappelini</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Douglas Antonio Martins Barbino</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Eduardo Kazuo Nakao</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Felipe Castro Dezotti</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Gabriela Vanessa Pereira Alves Mattos</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Guilherme Cuppi Jeronimo</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Guilherme Rigo Reccio</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Hugo Leonardo M. A. de Barros</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Júlio Maçumoto</h4>
                                Dolor Sit
                            </div>
                        </div>
                    </div>
                    <div class="center aligned row">
                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Leonardo Lopes</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Lucas Antoniale Callegari</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Lucas Bueno</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Lucas Yamanaka</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Marcelo Araujo Pontes</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Mariana Yamamoto</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Matheus dos Santos Freitas</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Nicolas Masonori Shimizu</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Paula Lamin Honda</h4>
                                Dolor Sit
                            </div>
                        </div>
                    </div>
                    <div class="center aligned row">
                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Rafael Eduardo Wolf Goes</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Renan Peixoto da Silva</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Tiago Bassani</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Tiago Bonadio Badoco</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Thiago Arraiol Casaes</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Thiago Neves Romero</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Lorem Ipsum</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Lorem Ipsum</h4>
                                Dolor Sit
                            </div>
                        </div>

                        <div class="column">
                            <div class="content">
                                <img class="ui centered small circular image"
                                     src="{% static 'site2016/images/user.png' %}">
                                <h4 class="ui header">Lorem Ipsum</h4>
                                Dolor Sit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment" id="processo_seletivo">
        <h1 class="ui centered inverted header">Processo Seletivo</h1>
        <h3 class="ui centered inverted header">Interessado em fazer parte da equipe? Saiba mais sobre o <a href="#">processo
            seletivo</a>.</h3>
    </div>

{% endblock body %}