{% extends 'site2016/base.html' %}
{% load staticfiles %}

{% block title %}
    Equipe - PET-BCC UFSCar
{% endblock title %}

{% block head_extensions %}
    <link rel="stylesheet" href="{% static 'site2016/css/custom.css' %}">
{% endblock head_extensions %}

{% block body %}
    <div class="ui inverted masthead center aligned segment" id="fundo_azul_titulo">
        <div class="ui grid">
            <div class="column">
                <div class="row">
                    <h1 class="ui inverted header">
                        Equipe PET-BCC
                    </h1>
                </div>
            </div>
        </div>
    </div>

    {% if professores %}

        <div class="ui stripe medium-font vertical feature segment">
            <div class="ui grid container">
                <div class="centered row">
                    <h1 class="ui header">Professores</h1>
                </div>
                <div class="centered row">
                    {#                    <div class="ui stackable grid">#}
                    <div class="ui sixteen column center aligned grid">
                        {% for integrante in professores %}
                            <div class="three wide computer five wide mobile center aligned column">
                                <div class="content" id="foto_membro_equipe">
                                    <div class="ui circular image">
                                        <div class="ui dimmer">
                                            <div class="content">
                                                <div class="center">
                                                    <h5 class="ui inverted small icon header"><i
                                                            class="mail icon"></i>{{ integrante.contato|safe }}
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <img class="ui centered small circular image"
                                             src="{% static 'site2016/images/equipe/'|add:integrante.foto %}">
                                    </div>
                                    <h3 class="ui header">{{ integrante.nome }}</h3>
                                    {{ integrante.descricao }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    {#    <div class="ui stripe medium-font vertical feature segment">#}
    {#        <div class="ui container grid">#}
    {#            <div class="centered row">#}
    {#                <h1 class="ui header">Professores</h1>#}
    {#            </div>#}
    {##}
    {#            <div class="centered row">#}
    {#                <div class="ui stackable grid">#}
    {#                    <div class="three column center aligned row">#}
    {#                        <div class="column">#}
    {#                            <div class="content">#}
    {#                                <div class="ui circular image">#}
    {#                                    <div class="ui dimmer">#}
    {#                                        <div class="content">#}
    {#                                            <div class="center">#}
    {#                                                <h5 class="ui inverted small icon header"><i class="mail icon"></i>valter@dc.ufscar.br#}
    {#                                                </h5>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <img class="ui centered small circular image"#}
    {#                                         src="{% static 'site2016/images/equipe/valter_vieira_de_camargo.jpg' %}">#}
    {#                                </div>#}
    {#                                <h3 class="ui header">Dr. Valter Vieira de Camargo</h3>#}
    {#                                Tutor do PET-BCC e Coordenador do Curso#}
    {#                            </div>#}
    {#                        </div>#}
    {##}
    {#                        <div class="column">#}
    {#                            <div class="content">#}
    {#                                <div class="ui circular image">#}
    {#                                    <div class="ui dimmer">#}
    {#                                        <div class="content">#}
    {#                                            <div class="center">#}
    {#                                                <h5 class="ui inverted icon header"><i class="mail icon"></i>santos@dc.ufscar.br#}
    {#                                                </h5>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <img class="ui centered small circular image"#}
    {#                                         src="{% static 'site2016/images/equipe/antonio_carlos_dos_santos.png' %}">#}
    {#                                </div>#}
    {#                                <h3 class="ui header">Dr. Antonio Carlos dos Santos</h3>#}
    {#                                Professor colaborador#}
    {#                            </div>#}
    {#                        </div>#}
    {##}
    {#                        <div class="column">#}
    {#                            <div class="content">#}
    {#                                <div class="ui circular image">#}
    {#                                    <div class="ui dimmer">#}
    {#                                        <div class="content">#}
    {#                                            <div class="center">#}
    {#                                                <h5 class="ui inverted small icon header"><i class="tiny mail icon"></i>rosangela@<br>dc.ufscar.br#}
    {#                                                </h5>#}
    {#                                            </div>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <img class="ui centered small circular image"#}
    {#                                         src="{% static 'site2016/images/equipe/rosangela_aparecida_dellosso_penteado.jpg' %}">#}
    {#                                </div>#}
    {#                                <h3 class="ui header">Dr.ª Rosângela Ap. Dellosso Penteado</h3>#}
    {#                                Professora colaboradora#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    {% if bolsistas %}

        <div class="ui stripe medium-font vertical feature segment" id="fundo_cinza">
            <div class="ui grid container">
                <div class="centered row">
                    <h1 class="ui header">Alunos Bolsistas</h1>
                </div>
                <div class="centered row">
                    <div class="ui sixteen column center aligned grid">
                        {% for integrante in bolsistas %}
                            <div class="three wide computer five wide mobile center aligned column">
                                <div class="content" id="foto_membro_equipe">
                                    <img class="ui small circular centered image"
                                         src="{% static 'site2016/images/equipe/' %}{{ integrante.foto }}">
                                    <h3 class="ui header">{{ integrante.nome }}</h3>
                                    BCC {{ integrante.ano }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    {% if naoBolsistas %}

        <div class="ui stripe medium-font vertical feature segment" id="fundo_cinza">
            <div class="ui grid container">
                <div class="centered row">
                    <h1 class="ui header">Alunos Não-Bolsistas</h1>
                </div>
                <div class="centered row">
                    <div class="ui sixteen column center aligned grid">
                        {% for integrante in naoBolsistas %}
                            <div class="three wide computer five wide mobile center aligned column">
                                <div class="content" id="foto_membro_equipe">
                                    <img class="ui small circular centered image"
                                         src="{% static 'site2016/images/equipe/'|add:integrante.foto %}">
                                    <h3 class="ui header">{{ integrante.nome }}</h3>
                                    BCC {{ integrante.ano }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    {% if voluntarios %}

        <div class="ui stripe medium-font vertical feature segment" id="fundo_cinza">
            <div class="ui grid container">
                <div class="centered row">
                    <h1 class="ui header">Alunos Voluntários</h1>
                </div>
                <div class="centered row">
                    <div class="ui sixteen column center aligned grid">
                        {% for integrante in voluntarios %}
                            <div class="three wide computer five wide mobile center aligned column">
                                <div class="content" id="foto_membro_equipe">
                                    <img class="ui small circular centered image"
                                         src="{% static 'site2016/images/equipe/'|add:integrante.foto %}">
                                    <h3 class="ui header">{{ integrante.nome }}</h3>
                                    BCC {{ integrante.ano }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    <div class="ui vertical stripe segment" id="fundo_cinza">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="column">
                    <h1 class="ui centered header">Quais são as vagas para fazer parte da equipe?</h1>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <h3 class="ui header">Bolsistas</h3>
                    <p>O PET pode ter até 12 alunos bolsistas, que recebem uma bolsa de R$ 400,00 mensalmente. A
                        dedicação é de 20 horas semanais e a participação no PET por pelo menos um ano garante as
                        60 horas de Atividades Complementares exigidas no curso de Ciência da Computação da UFSCar.</p>
                    <h3 class="ui header">Não bolsistas</h3>
                    <p>Caso todas as vagas para alunos bolsistas já estejam preenchidas, o PET pode ainda ter 6 alunos
                        atuando como não bolsistas. As obrigações são as mesmas dos alunos bolsistas, assim como o
                        certificado recebido, que também vale como Atividades Complementares para o curso. No caso de
                        algum bolsista se desligar do PET, os alunos não bolsistas viram bolsistas automaticamente, sem
                        necessidade de novo processo seletivo. A ordem de distribuição das bolsas é definida pela
                        classificação do candidato no processo seletivo o qual participou.</p>
                    <h3 class="ui header">Voluntários</h3>
                    <p>Se as 18 vagas para bolsistas e não bolsistas já estiverem preenchidas, aida é possível ser um
                        membro do PET como um voluntário. Mesmo como voluntário você terá participação efetiva nos
                        projetos, garantindo muito conhecimento e um grande incremento em sua graduação.</p>
                </div>
            </div>
        </div>
    </div>

    {% if exMembros %}

        <div class="ui stripe medium-font vertical feature segment" id="fundo_cinza">
            <div class="ui grid container">
                <div class="centered row">
                    <h1 class="ui header">Ex-Membros</h1>
                </div>
                <div class="centered row">
                    <div class="ui twelve column center aligned grid">
                        {% for integrante in exMembros %}
                            <div class="one wide computer one wide mobile center aligned column">
                                <div class="content" id="foto_membro_equipe">
                                    <img class="ui small circular centered image"
                                         src="{% static 'site2016/images/'|add:integrante.foto %}">
                                    <h3 class="ui header">{{ integrante.nome }}</h3>
                                    BCC {{ integrante.ano }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    <div class="ui vertical stripe segment" id="processo_seletivo">
        <h1 class="ui centered inverted header">Processo Seletivo</h1>
        <h3 class="ui centered inverted header">Interessado em fazer parte da equipe? Saiba mais sobre o <a href="#">processo
            seletivo</a>.</h3>
    </div>

    <script type="text/javascript">
        $('.ui.dimmer')
                .dimmer({
                    on: 'hover'
                })
        ;
    </script>

{% endblock body %}