{% extends 'site2016/base.html' %}
{% load staticfiles %}

{% block title %}
    PET-BCC UFSCar
{% endblock title %}

{% block head_extensions %}
    <link rel="stylesheet" href="{% static 'site2016/css/custom.css' %}">
{% endblock head_extensions %}

{% block body %}

    <!-- Imagem principal da home -->
    <div class="ui inverted masthead center aligned segment" id="masthead_index">
{#    <p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>#}

    <div class="ui grid" id="principal_home">
            <div class="column">
                <div class="row">
                    <h1 class="ui inverted header wow fadeInDown" data-wow-delay="0.3s" id="titulo_home">
                        PET-BCC UFSCar
                    </h1>
                    <h2 class="ui inverted header wow fadeInDown" data-wow-delay="0.6s" id="subtitulo_home">Programa de
                        Educação Tutorial do
                        Bacharelado em Ciência da Computação da UFSCar</h2>
                </div>
            </div>
        </div>
    </div>

{#    <div class="ui inverted masthead center aligned segment" id="fundo_azul">#}
{#        <div class="ui grid">#}
{#            <div class="column">#}
{#                <div class="row">#}
{#                    <h1 class="ui inverted header wow fadeInDown" data-wow-delay="0.3s" id="titulo_home">#}
{#                        PET-BCC UFSCar#}
{#                    </h1>#}
{#                    <h2 class="ui inverted header wow fadeInDown" data-wow-delay="0.6s" id="subtitulo_home">Programa de#}
{#                        Educação Tutorial do#}
{#                        Bacharelado em Ciência da Computação da UFSCar</h2>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eleven wide column">
                    <h2 class="ui header wow fadeInRight" data-wow-delay="0.6s">O que é o PET?</h2>
                    <p class="justificado wow fadeInRight" data-wow-delay="0.7s">O Programa de Educação Tutorial (PET) é
                        um programa do Governo Federal Brasileiro que possui o
                        objetivo principal de elevar a qualidade dos cursos de graduação do país, como consta na
                        Portaria 976/2010. A ideia é que cursos de graduação possuam um grupo PET de até 18
                        alunos (denominados de petianos), sendo 12 alunos bolsistas e 6 não-bolsistas sob a supervisão
                        de um
                        professor tutor. O grupo PET deve desenvolver atividades de ensino, pesquisa e extensão,
                        promovendo a indissociabilidade entre esses três pilares.</p>
                    <h2 class="ui header wow fadeInRight" data-wow-delay="0.8s">O PET-BCC</h2>
                    <p class="justificado wow fadeInRight" data-wow-delay="0.9s">O grupo PET do curso de Bacharelado em
                        Ciência da Computação (PET-BCC) da Universidade Federal de São Carlos (UFSCar), campus São
                        Carlos, iniciou suas atividades em outubro de 2009 ao ser contemplado no lote 2 do edital nº 05.
                        Uma particularidade desse edital é que a chamada foi para
                        grupos temáticos, isto é, além de estarem vinculados a um curso de graduação, também deveriam
                        ter um tema para nortear suas atividades e projetos. O tema do PET-BCC é <b>desenvolvimento de
                            software</b>.
                    </p>
                </div>
                <div class="five wide column wow fadeInLeft" data-wow-delay="1s">
                    <img class="ui image" src="{% static 'site2016/images/logos/petbcc.png' %}">
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment" id="fundo_cinza">
        <div class="ui relaxed stackable grid container">
            <div class="row">
                <div class="column">
                    <h1 class="ui centered header wow fadeInDown" data-wow-delay="0.5s" id="titulo_secao">Pilares do PET-BCC</h1>
                </div>
            </div>
            <div class="four column row">
                <div class="center aligned column wow fadeInRight" data-wow-delay="0.5s">
                    <h2 class="ui icon header">
                        <i class="student icon"></i>
                        <div class="content">
                            Ensino
                        </div>
                        <div class="sub header">
                            Programa de Acompanhamento, Mini-tutoriais e Minicursos
                        </div>
                    </h2>
                </div>

                <div class="center aligned column wow fadeInRight" data-wow-delay="0.7s">
                    <h2 class="ui icon header">
                        <i class="university icon"></i>
                        <div class="content">
                            Pesquisa
                        </div>
                        <div class="sub header">
                            Projetos de Iniciação Científica e escrita de artigos
                        </div>
                    </h2>
                </div>

                <div class="center aligned column wow fadeInLeft" data-wow-delay="0.7s">
                    <h2 class="ui icon header">
                        <i class="world icon"></i>
                        <div class="content">
                            Extensão
                        </div>
                        <div class="sub header">
                            Aulas de informática para ONG, parceria com o Projeto Operação Natal
                        </div>
                    </h2>
                </div>

                <div class="center aligned column wow fadeInLeft" data-wow-delay="0.5s">
                    <h2 class="ui icon header">
                        <i class="fork icon"></i>
                        <div class="content">
                            Desenvolvimento de Software
                        </div>
                        <div class="sub header">
                            Prontuário Eletrônico, jogo para o PET-Produção, novo site do curso, novo site do PET
                        </div>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui three column center aligned divided relaxed stackable grid container">
            <div class="row">
                <div class="column">
                    <h1 class="ui centered header wow fadeInDown" data-wow-delay="0.5s" id="titulo_secao">Principais Projetos</h1>
                </div>
            </div>
            <div class="row">
                <div class="column wow fadeInDown" data-wow-delay="0.7s">

                    <h3 class="ui image header">
                        <img class="ui small image" src="{% static 'site2016/images/logos/use.png' %}">
                        <br>
                        <div class="content">
                        Prontuário Eletrônico para a Unidade Saúde Escola (USE/UFSCar)
                    </div></h3>
                    <p>O PET-BCC está trabalhando no desenvolvimento de um sistema web de prontuário eletrônico para a USE/UFSCar, que permitirá muito mais agilidade nos atendimentos.</p>
                </div>
                <div class="column wow fadeInDown" data-wow-delay="0.9s">
                    <h3 class="ui image header">
                        <img class="ui medium image" src="{% static 'site2016/images/logos/pet_producao.png' %}">
                        <br>
                        <div class="content">
                        Desenvolvimento do Saúde em Jogo
                    </div></h3>
                    <p>Em parceria com o PET-Produção da UFSCar, o PET-BCC está transformando uma dinâmica do PET-Produção em um jogo on-line, o <b>Saúde em Jogo</b>.</p>
                </div>
                <div class="column wow fadeInDown" data-wow-delay="1.1s">
                     <h3 class="ui image header">
                        <img class="ui small image" src="{% static 'site2016/images/logos/nave_sal_da_terra.png' %}">
                         <br>
                        <div class="content">
                        ONG Nave Sal da Terra
                    </div></h3>
                    <p>Durante os finais de semana, os petianos se organizam para ministrar aulas de informática básica para a comunidade da ONG Nave Sal da Terra.</p>
                </div>
            </div>
            </div>
        <div class="ui grid container">
            <div class="row">
                <div class="column">
                    <h3 class="ui centered header">
                        <a href="{% url 'projetos' %}"> Saiba mais e conheça os nossos outros projetos > </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment" id="processo_seletivo">
        <h1 class="ui centered inverted header">Processo Seletivo</h1>
        <h3 class="ui centered inverted header">Interessado em fazer parte da equipe? Saiba mais sobre o <a href="#">processo
            seletivo</a>.</h3>
    </div>

{% endblock body %}