{% extends 'site2016/base.html' %}
{% load staticfiles %}

{% block title %}
    PET-BCC UFSCar
{% endblock title %}

{% block body %}
    <style>
        #masthead_index {
            min-height: 450px;
            padding: 1em 0em 0em 0em;
        {#        background: #0c4d78;#} margin-top: 0em;
            background: url('{% static 'site2016/images/equipe.jpg' %}');
            -webkit-background-size: auto;
            background-size: 100%;
            background-position: top;
        }

        #fundo_azul {
            background: #0c4d78;
            padding: 0em;
        }

        #processo_seletivo {
            background: #0c4d78;
        }

        #fundo_cinza {
            background: rgba(0, 0, 6, 0.02);
        }

    </style>

    <div class="ui inverted masthead center aligned segment" id="masthead_index">
        {#    <div class="ui grid">#}
        {#        <div class="column">#}
        {#            <div class="row">#}
        {#                <br><br><br><br><br><br><br><br><br><br><br><br><br>#}
        {#                <h1 class="ui inverted header">#}
        {#                    PET-BCC UFSCar#}
        {#                </h1>#}
        {#                <h2>Programa de Educação Tutorial do Bacharelado em Ciência da Computação<br>da UFSCar</h2>#}
        {#            </div>#}
        {#        </div>#}
        {#    </div>#}
    </div>

    <div class="ui inverted masthead center aligned segment" id="fundo_azul">
        <div class="ui grid">
            <div class="column">
                <div class="row">
                    <h1 class="ui inverted header">
                        PET-BCC UFSCar
                    </h1>
                    <h2>Programa de Educação Tutorial do Bacharelado em Ciência da Computação da UFSCar</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eleven wide column">
                    <h3 class="ui header">O que é o PET?</h3>
                        <p> O Programa de Educação Tutorial (PET) é um programa do governo federal brasileiro que possui o
                        objetivo principal de elevar a qualidade dos cursos de graduação do país, como consta na portaria
                        976 (Portaria 976, 2010). A ideia é que cursos de graduação possuam um grupo PET de até 18 alunos
                        (denominados de petianos), sendo 12 alunos bolsistas e 6 não-bolsistas sob a supervisão de um
                        professor tutor. O grupo PET deve desenvolver atividades de ensino, pesquisa e extensão,
                        promovendo a indissociabilidade entre esses três pilares. </p>
                    <h3 class="ui header">O PET-BCC</h3>
                    <p>O grupo PET do curso de Bacharelado em Ciência da Computação (PET-BCC) da Universidade Federal
                        de São Carlos (UFSCar), campus São Carlos, iniciou suas atividades em outubro de 2009 ao ser
                        contemplado no lote 2 do edital nº 05. Uma particularidade desse edital é que a chamada foi para
                        grupos temáticos, isto é, além de estarem vinculados a um curso de graduação, também deveriam
                        ter um tema para nortear suas atividades e projetos. O tema do PET-BCC é “desenvolvimento de software”.
                    </p>
                </div>
                <div class="five wide column">
                    <img class="ui image" src="{% static 'site2016/images/petbcc.png' %}">
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment" id="fundo_cinza">
        <div class="ui relaxed stackable grid container">
            <div class="row">
                <div class="column">
                    <h1 class="ui centered header">O que fazemos?</h1>
                </div>
            </div>
            <div class="four column row">
                <div class="column">
                    <img class="ui centered small image" src="{% static 'site2016/images/petbcc.png' %}">
                    <h3 class="ui centered header">Ensino</h3>
                    <h5 class="ui centered header">Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</h5>
                </div>

                <div class="column">
                    <img class="ui centered small image" src="{% static 'site2016/images/petbcc.png' %}">
                    <h3 class="ui centered header">Pesquisa</h3>
                    <h5 class="ui centered header">Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</h5>
                </div>

                <div class="column">
                    <img class="ui centered small image" src="{% static 'site2016/images/petbcc.png' %}">
                    <h3 class="ui centered header">Extensão</h3>
                    <h5 class="ui centered header">Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</h5>
                </div>

                <div class="column">
                    <img class="ui centered small image" src="{% static 'site2016/images/petbcc.png' %}">
                    <h3 class="ui centered header">Desenvolvimento de Software</h3>
                    <h5 class="ui centered header">Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui three column center aligned divided relaxed stackable grid container">
            <div class="row">
                <div class="column">
                    <h1 class="ui centered header">Principais Projetos</h1>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <img class="ui centered small image" src="{% static 'site2016/images/petbcc.png' %}">
                    <h3 class="ui header">Projeto USE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut
                        laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <div class="column">
                    <img class="ui centered small image" src="{% static 'site2016/images/petbcc.png' %}">
                    <h3 class="ui header">Saúde em Jogo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut
                        laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <div class="column">
                    <img class="ui centered small image" src="{% static 'site2016/images/petbcc.png' %}">
                    <h3 class="ui header">ONG Nave Sal da Terra</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut
                        laoreet dolore magna aliquam erat volutpat.</p>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h3 class="ui centered header">
                        <a href="{% url 'projetos' %}"> Conheça os nossos outros projetos > </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment" id="processo_seletivo">
        <h1 class="ui centered inverted header">Processo Seletivo</h1>
        <h3 class="ui centered inverted header">Interessado em fazer parte da equipe? Saiba mais sobre o <a href="#">processo
            seletivo</a>.</h3>
    </div>

{% endblock body %}