{% extends 'site2016/base.html' %}
{% load static %}

{% block title %}
    Manual C - PET-BCC UFSCar
{% endblock title %}

{% block head_extensions %}

{% endblock head_extensions %}

{% block body %}
<header class="ui inverted masthead center aligned segment" id="fundo_azul_titulo">
  <div class="ui grid">
      <div class="column">
          <div class="row">
              <h1 class="ui inverted header" > <!-- Tirei o id, para ficar lowercase -->
                Manual C
              </h1>
          </div>
      </div>
  </div>
</header>
<main role="main">
    <section class="ui vertical stripe segment" id="fundo_cinza" role="region">
      <div class="ui stackable centered  grid container">
        <div class="column">
          <div class="ui vertical segment">
              <h2 class="ui centered aligned header manC_laranja">
                Guia Rápido
              </h2>
              <p class="justificado">Ao lado esquerdo, temos as referências sobre as bibliotecas de funções presentes na linguagem C. Ao clicar em uma delas, você será redirecionado a página principal da biblioteca.
                Assim, dentro da página principal você encontrará uma barra lateral que direciona para a explicação das funções presentes na biblioteca em questão. 
                Por fim, ao clicar numa função você encontrará explicações sobre funcionamento da função, sintaxe, exemplos de uso e links para exercícios, com resolução, que usam a função em questão. Além disso, no menu no topo da tela ao posicionar o mouse por cima de "Manual C" um menu com as bibliotecas descerá e, ao posicionar o mouse sobre uma delas, aparecerá as funções daquela biblioteca.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="ui vertical stripe segment" id="fundo_cinza" role="region">
      <div class="ui stackable centered  grid container">
        <div class="column">
          <div class="ui vertical segment">
            <h2 class="ui centered aligned header manC_laranja">
              Objetivo e Público Alvo
            </h2>
            <p class="justificado">     A ideia do projeto é fornecer uma guia simples e objetivo para a linguagem de programação C. Contendo a maioria das bibliotecas e funções da linguagem.
              Nosso público alvo são programadores o e pessoas que possuem um conhecimento básico sobre a linguagem e precisam de um lugar para consultas sobre a linguagem C.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Daqui pra baixo o resultado ta ruim, mas tem potencial pra ficar algo bom -->
    <section class="ui vertical stripe segment" id="fundo_cinza" role="region">
      <h2 class="ui centered aligned header manC_laranja">
        Colaboradores
      </h2>  
      <div class="centered row">
        <div class="column">
          <div class="ui column center aligned grid">
            <div class="ui massive horizontal list">
              <div class="item imagem_colaborador">
                <img class="ui avatar image" src="../../static/site2016/images/equipe.jpg">
                <div class="content">
                  <div class="header">Prof. Dr. Jander Moreira</div>
                </div>
              </div>
              <div class="item imagem_colaborador">
                <img class="ui avatar image" src="../../static/site2016/images/equipe.jpg">
                <div class="content">
                  <div class="header">Prof. Dr. Valter Camargo</div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
</main>
{% endblock body %}
