{% load static %}
{% load ps_menu_item %}

<div class="ui grid">

    <div class="ui right vertical menu sidebar hidden">
        <div class="ui grid">
            <div class="column">
                <div class="row">
                    <img class="ui centered small image" src="{% static 'site2016/images/logos/petbcc.png' %}">
                </div>
                <div class="row">
                    <a href="{% url 'home' %}" class="{% if pagina == 'home' %}active{% endif %} item"><b>Página
                            Inicial</b></a>
                    <a href="{% url 'equipe' %}"
                        class="{% if pagina == 'equipe' %}active{% endif %} item"><b>Equipe</b></a>
                    <a href="{% url 'projetos' %}"
                        class="{% if pagina == 'projetos' %}active{% endif %} item"><b>Projetos</b></a>
                    <a class="ui item" href="{% ps_link_atual_simples %}"><b>Processo Seletivo</b></a>
                    <a href="{% url 'contato' %}"
                        class="{% if pagina == 'contato' %}active{% endif %} item"><b>Contato</b></a>
        
                </div>
            </div>
        </div>
    </div>

    <div class="computer only row">
        <nav class="ui fixed menu" role="navigation">
            <div class="ui container">
                <a href="{% url 'home' %}" class="item">
                    <img class="ui tiny image" src="{% static 'site2016/images/logos/petbcc_menu_principal.png' %}"
                        alt="Logo do PET-BCC">
                </a>

                <div class="right menu">
                    <a href="{% url 'home' %}" class="{% if pagina == 'home' %}active{% endif %} item"><b>Página
                            Inicial</b></a>
                    <a href="{% url 'equipe' %}"
                        class="{% if pagina == 'equipe' %}active{% endif %} item"><b>Equipe</b></a>
                    <a href="{% url 'projetos' %}"
                        class="{% if pagina == 'projetos' %}active{% endif %} item"><b>Projetos</b></a>
                    <a class="ui item" href="{% ps_link_atual_simples %}"><b>Processo Seletivo</b></a>
                    <a href="{% url 'contato' %}"
                        class="{% if pagina == 'contato' %}active{% endif %} item"><b>Contato</b></a>
                    <div class="{% if pagina == 'manual_c' %}active{% endif %} item">
                        <a href="{% url 'manual_c' %}"
                        ><b>Manual C</b></a>
                        <div class="ui pointing dropdown link">
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="header"><b>Bibliotecas</b></div>
                                <div class="{% if pagina == 'math_h' %}active{% endif %}  item">
                                    <i class="dropdown icon"></i>
                                    <a href="{% url 'math_h' %}"
                                    class="header"><b>math.h</b></a>
                                    <div class="menu">
                                        <a href="{% url 'math_funcoes' %}"
                                        class="{% if pagina == 'math_funcoes' %}active{% endif %} item"><b>acos()</b></a>
                                        <a href="{% url 'math_funcoes' %}#asin"
                                        class="{% if pagina == 'math_funcoes' %}active{% endif %} item"><b>asin()</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="tablet mobile only row">
        <nav class="ui fixed hidden main menu" id="menu_principal" role="navigation">
            <div class="left menu">
                <a href="{% url 'home' %}" class="item">
                    <img class="ui tiny image" src="{% static 'site2016/images/logos/petbcc_menu_principal.png' %}"
                        alt="Logo do PET-BCC">
                </a>
            </div>
            <div class="right menu">
                <a class="toc item">
                    <i class="large sidebar icon"></i>
                </a>
            </div>
        </nav>
    </div>
</div>

<script type="text/javascript">
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('.ui.sidebar')
        .sidebar('setting', 'transition', 'overlay')
        .sidebar('setting', 'mobileTransition', 'overlay')
        .sidebar('attach events', '.toc.item')
        ;
</script>