{% extends 'site2016/base.html' %}
{% load staticfiles %}

{% block title %}
    Processo Seletivo - PET-BCC UFSCar
{% endblock title %}

{% block head_extensions %}
    <link rel="stylesheet" href="{% static 'site2016/css/custom.css' %}">
{% endblock head_extensions %}

{% block body %}
    <header class="ui inverted masthead center aligned segment" id="fundo_azul_titulo">
        <div class="ui grid">
            <div class="column">
                <div class="row">
                    <h1 class="ui inverted header" id="titulo_pagina">
                        Processo Seletivo
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <main role="main">
        <div class="ui vertical segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="sixteen wide column">
                        <h3 class="ui centered header">Confira nesta página as últimas chamadas para processos seletivos
                            do
                            PET-BCC.</h3>

                        <h1 class="ui top attached block header">
                            Processo Seletivo 2017/1
                            <div class="ui big blue disabled label">Inscrições Encerradas</div>
                        </h1>

                        <div class="ui attached segment">
                            <p class="justificado">
                                Todos os alunos regularmente matriculados no curso de Bacharelado em Ciência da
                                Computação
                                da
                                UFSCar estão convidados a participar do processo seletivo 2017/1 do PET-BCC.
                            </p>

                            <h2 class="ui header wow fadeInDown" data-wow-delay="0.3s">Informações importantes</h2>

                            <div class="ui grid">
                                <div class="column">
                                    <div class="ui divided stackable grid">
                                        <div class="five wide column">
                                            <div class="ui two column grid">
                                                <div class="center aligned column wow fadeInRight"
                                                     data-wow-delay="0.5s">
                                                    <h3 class="ui icon header">
                                                        <i class="ui users icon"></i>
                                                        <div class="content">Vagas</div>
                                                        <div class="sub header">4 (quatro) para <br><b>não-bolsistas</b><br>
                                                        </div>
                                                    </h3>
                                                </div>
                                                <div class="center aligned column wow fadeInRight"
                                                     data-wow-delay="0.5s">
                                                    <h3 class="ui icon header">
                                                        <i class="ui calendar icon"></i>
                                                        <div class="content">Inscrições</div>
                                                        <div class="sub header">08/05 a 28/05</div>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="eleven wide column">
                                            <div class="ui four column doubling grid">
                                                <div class="center aligned column wow fadeInLeft" data-wow-delay="0.7s">
                                                    <h3 class="ui icon header">
                                                        <i class="ui blue checkmark box icon"></i>
                                                        <div class="content">[Etapa 1]<br>Análise de histórico</div>
                                                        <div class="sub header">28/05 a 29/05<br>29/05 - Resultado</div>
                                                    </h3>
                                                    <br>
                                                    <button class="ui blue button" id="botao_modal1">Resultado</button>
                                                    <p></p>
                                                </div>
                                                <div class="center aligned column wow fadeInLeft" data-wow-delay="0.8s">
                                                    <h3 class="ui icon header">
                                                        <i class="ui grey checkmark box icon"></i>
                                                        <div class="content">[Etapa 2]<br>Avaliação escrita</div>
                                                        <div class="sub header">31/05 - 18h45 às 22h<br>08/06 -
                                                            Resultado
                                                        </div>
                                                    </h3>
                                                    <br>
                                                    {#                                                    <button class="ui blue button" id="botao_modal2">Resultado</button>#}
                                                </div>
                                                <div class="center aligned column wow fadeInLeft" data-wow-delay="0.9s">
                                                    <h3 class="ui icon header">
                                                        <i class="ui grey checkmark box icon"></i>
                                                        <div class="content">[Etapa 3]<br>Entrevista individual</div>
                                                        <div class="sub header">12 a 14/06<br>15/06 - Resultado</div>
                                                    </h3>
                                                    <br>
                                                    {#                                                    <button class="ui blue button" id="botao_modal3">Resultado</button>#}
                                                </div>
                                                <div class="center aligned column wow fadeInLeft" data-wow-delay="1s">
                                                    <h3 class="ui icon header">
                                                        <i class="ui grey checkmark box icon"></i>
                                                        <div class="content">[Etapa 4]<br>Dinâmica</div>
                                                        <div class="sub header">19/06<br>27/06 - Resultado
                                                        </div>
                                                    </h3>
                                                    <br>
                                                    {#                                                    <button class="ui blue button" id="botao_modal4">Resultado Final</button>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h2 class="ui header wow fadeInDown" data-wow-delay="0.5s">Requisitos</h2>
                            <p class="wow fadeInDown" data-wow-delay="0.7s">Para se inscrever no processo seletivo, o
                                candidato deverá:</p>
                            <ol class="ui list wow fadeInDown" data-wow-delay="0.7s">
                                <li value="a)">Ser aluno regularmente matriculado no curso de Bacharelado em Ciência da
                                    Computação e estar cursando a partir do 2º (segundo) semestre de graduação;
                                </li>
                                <li value="b)">Apresentar média ponderada semestral geral maior ou igual a 6.0 (seis);
                                </li>
                                <li value="c)">Ter disponibilidade para se dedicar 20 (vinte) horas semanais nas
                                    atividades
                                    do programa;
                                </li>
                            </ol>

                            <h2 class="ui header wow fadeInDown" data-wow-delay="0.5s">Inscrições</h2>
                            <p class="wow fadeInDown" data-wow-delay="0.7s">As inscrições devem ser realizadas
                                exclusivamente por e-mail: <a
                                        href="mailto:valter@dc.ufscar.br">valter@dc.ufscar.br</a>.<br>
                                Detalhes sobre documentos necessários, critérios, cronograma e outras informações devem
                                ser
                                verificadas no edital.</p>

                            <h2 class="ui header wow fadeInDown" data-wow-delay="0.5s">Edital</h2>
                            <p class="wow fadeInDown" data-wow-delay="0.7s">Acesse o edital clicando no ícone a
                                seguir:
                                <a href="{% static 'site2016/editais/EditalPET1-2017.pdf' %}"><i
                                        class="huge download icon wow fadeInDown" data-wow-delay="0.7s"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui large modal" id="modal1">
            <i class="close icon"></i>
            <div class="header">
                Processo Seletivo 2017/1 - Resultado da Etapa 1
            </div>
            <div class="content">
                <div class="description">
                    <p>Esta etapa de análise de histórico é eliminatória apenas para os candidatos com média geral menor
                        que 6.0. Os seguintes candidatos foram aprovados (ordem alfabética):</p>
                    <ul>
                        <li>Italo Jorge Vieira</li>
                        <li>Jéssica Caroline</li>
                        <li>Leonardo de Oliveira Peralta</li>
                        <li>Rene Ferrante</li>
                    </ul>
                    <p>Para os aprovados, a próxima etapa (avaliação escrita) será realizada na <b>quarta-feira, dia
                        31/05/2017, às 18h45</b> na Sala PPG-CC1 do Departamento de Computação.</p>

                    <div class="extra">
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui blue ok button">
                    <i class="close icon"></i>
                    Fechar
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $('#modal1')
                .modal('attach events', '#botao_modal1', 'show')
            ;
{#            $('#modal2')#}
{#                .modal('attach events', '#botao_modal2', 'show')#}
{#            ;#}
{#            $('#modal3')#}
{#                .modal('attach events', '#botao_modal3', 'show')#}
{#            ;#}
{#            $('#modal4')#}
{#                .modal('attach events', '#botao_modal4', 'show')#}
{#            ;#}
        </script>

    </main>
{% endblock body %}