{% extends 'site2016/base.html' %}
{% load static %}

{% block title %}
    Processo Seletivo - PET-BCC UFSCar
{% endblock title %}

{% block head_extensions %}
    <link rel="stylesheet" href="{% static 'site2016/css/main.css' %}"?v={{ timestamp }} xmlns="http://www.w3.org/1999/html">
{% endblock head_extensions %}

{% block body %}
    <header class="page__header">
        <h1 class="page__title">
            Processo Seletivo
        </h1>
    </header>

    <main role="main">
        <div class="content">
            <div class="main__section">
                <h1 class="header">
                    Processo Seletivo - {{ ps.edicao }}

                    {% if ps.resultado_divulgado %}
                        <div class="ui big blue label">Resultados divulgados</div>
                    {% endif %}
                </h1>
                <p class="text__medium text__justify">
                    Todos os alunos regularmente matriculados no curso de Bacharelado em Ciência da
                    Computação da UFSCar estão convidados a participar do processo seletivo {{ ps.edicao }} do PET-BCC.
                </p>
            </div>
            <div class="section">
                <h2 class="header">Sobre as vagas</h2>
                <ul class="list text__justify text__medium">
                    <li><b>Bolsista:</b> O PET pode ter até 12 alunos bolsistas, que recebem uma bolsa de R$700,00 mensalmente. A dedicação é de 20 horas semanais e a participação no PET por pelo menos um ano garante as 60 horas de Atividades Complementares exigidas no curso de Ciência da Computação da UFSCar.</li>
                    <li><b>Não-bolsista:</b> Caso todas as vagas para alunos bolsistas já estejam preenchidas, o PET pode ainda ter 6 alunos atuando como não-bolsistas. As obrigações são as mesmas dos alunos bolsistas, assim como o certificado recebido, que também vale como Atividades Complementares para o curso. No caso de algum bolsista se desligar do PET, os alunos não bolsistas viram bolsistas automaticamente, sem necessidade de novo processo seletivo. A ordem de distribuição das bolsas é definida pela classificação do candidato no processo seletivo o qual participou.</li>
                    <li><b>Colaborador(a):</b> Se as 18 vagas para bolsistas e não-bolsistas já estiverem preenchidas, ainda é possível ser um membro do PET como um colaborador. Mesmo como colaborador você terá participação efetiva nos projetos, garantindo muito conhecimento e um grande incremento em sua graduação.</li>
                </ul>
                <h3 class="text__medium text__justify">Vagas disponíveis neste processo: 4 vagas (não-bolsista)</h3>
            </div>
            <div class="section">
                <h2 class="header">Etapas</h2>
                <div class="ui stackable four centered cards">
                    {% for etapa in ps.etapas %}
                        <div class="card wow fadeInLeft" data-wow-delay="0.7s">
                            <div class="content">
                                <div class="ui icon header">
                                    <i class="
                                    {% if etapa.mostrar_resultado %}
                                    blue
                                    {% else %}
                                    grey
                                    {% endif %}
                                        checkmark box icon"></i>
                                    <div class="content">[Etapa {{ forloop.counter }}]</div>
                                </div>

                                <div class="center aligned">
                                    <h4>{{ etapa.titulo }}</h4>
                                </div>
                            </div>

                            <div class="center aligned extra content">
                                {{ etapa.data_inicio }}
                                {% if etapa.data_fim %}
                                    a {{ etapa.data_fim }}
                                {% elif etapa.mostrar_hora %}
                                    - {{ etapa.horario }}
                                {% endif %}

                                {% if etapa.data_resultado %}
                                    <br>Resultado: {{ etapa.data_resultado }}
                                {% endif %}
                            </div>
                        </div>
                    {% empty %}
                        Não há etapas disponíveis
                    {% endfor %}
                </div>
            </div> 
            
            <div class="section">
                <h2 class="header">Requisitos</h2>

                <p class="text__medium text__justify">Para se inscrever no processo seletivo, o candidato deverá:</p>
                <ol class="list text__justify text__medium"" data-wow-delay="0.7s">
                    {{ ps.requisitos|safe }}
                </ol>
            </div>

            <div class="section">
                <h2 class="header">Inscrições</h2>

                <p class="text__medium text__justify">As inscrições devem ser realizadas por meio do preenchimento do formulário digital. Acesse o formulário <a target="_blank" href=""><b>em breve</b></a>.</p>
                <p class="text__medium text__justify">ATENÇÃO: As incrições estarão abertas entre <b>04/08/2025</b> e <b>25/08/2025.</b></p>
            </div>

             <div class="section">
                <h2 class="header">Edital</h2>

                <p class="text__medium text__justify">Detalhes sobre documentos necessários, critérios, cronograma e outras informações devem ser verificadas no edital. Acesse o edital <a target="_blank" href="{{ ps.edital }}"><b>clicando aqui</b></a>.</p>
            </div>
        </div>
    </main>
{% endblock body %}