{% extends 'site2016/base.html' %}
{% load staticfiles %}

{% block title %}
    Projetos - PET-BCC UFSCar
{% endblock title %}

{% block head_extensions %}

{% endblock head_extensions %}

{% block body %}
    <header class="ui inverted masthead center aligned segment" id="fundo_azul_titulo">
        <div class="ui grid">
            <div class="column">
                <div class="row">
                    <h1 class="ui inverted header" id="titulo_pagina">
                        Projetos
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <main role="main">

        <div class="ui stripe medium-font vertical feature segment">
            <div class="ui grid container">

                <div class="centered row">
                    <h1 class="ui header" id="titulo_secao">Tecnologias que utilizamos nos projetos de
                        desenvolvimento</h1>
                </div>

                <div class="centered row">
                    <div class="ui five column doubling centered grid">
                        <div class="middle aligned row">
                            {% for tecnologia in tecnologias %}
                                <div class="middle aligned column">
                                    <div class="content">
                                        <a href="{{ tecnologia.link }}" target="_blank">
                                            <img class="ui tiny centered image"
                                                 src="{{ tecnologia.imagem }}" alt="{{ tecnologia.nome }}">
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for projeto in projetos_desenvolvimento %}
            <div class="ui vertical segment {% if forloop.counter|divisibleby:2 %}fundo_cinza{% endif %}">
                <div class="ui middle aligned stackable grid container">
                    {% if forloop.first %}
                        <div class="centered row">
                            <h1 class="ui header" id="titulo_secao">Projetos de Desenvolvimento de Software</h1>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="twelve wide column">
                            <h2 class="ui header wow fadeInRight">{{ projeto.nome }}</h2>
                            <p class="justificado wow fadeInRight">{{ projeto.descricao|safe }}</p>
                            <p class="justificado wow fadeInRight"><b>Tecnologias utilizadas</b>:
                                {% for tec in projeto.tecnologias %}
                                    {{ tec.nome }};
                                {% endfor %}
                            </p>
                            {% if projeto.status == 'D' %}
                                <div class="ui label wow fadeInRight" id="tags">
                                    <i class="clock icon "></i>Em desenvolvimento
                                </div>
                            {% elif projeto.status == 'A' %}
                                <div class="ui green label wow fadeInRight" id="tags">
                                    <i class="check icon "></i>Ativo
                                </div>
                            {% elif projeto.status == 'F' %}
                                <div class="ui blue label wow fadeInRight" id="tags">
                                    <i class="check icon "></i>Finalizado
                                </div>
                            {% elif projeto.status == 'C' %}
                                <div class="ui red label wow fadeInRight" id="tags">
                                    Cancelado
                                </div>
                            {% endif %}
                        </div>
                        <div class="four wide column  wow fadeInLeft">
                            <img class="ui medium centered image" src="{{ projeto.imagem }}">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for projeto in projetos_en_pesq_ex %}
            <div class="ui vertical segment {% if forloop.counter|divisibleby:2 %}fundo_cinza{% endif %}">
                <div class="ui middle aligned stackable grid container">
                    {% if forloop.first %}
                        <div class="centered row">
                            <h1 class="ui header" id="titulo_secao">Projetos de Ensino, Pesquisa e Extensão</h1>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="twelve wide column">
                            <h2 class="ui header wow fadeInRight">{{ projeto.nome }}</h2>
                            <p class="justificado wow fadeInRight">{{ projeto.descricao|safe }}</p>
                            {# TODO: lidar com o tipo de label dependendo do status #}
                            {% if projeto.status == 'D' %}
                                <div class="ui label wow fadeInRight" id="tags">
                                    <i class="check icon "></i>Ativo
                                </div>
                            {% elif projeto.status == 'A' %}
                                <div class="ui green label wow fadeInRight" id="tags">
                                    <i class="clock icon "></i>Em desenvolvimento
                                </div>
                            {% elif projeto.status == 'F' %}
                                <div class="ui blue label wow fadeInRight" id="tags">
                                    <i class="check icon "></i>Finalizado
                                </div>
                            {% elif projeto.status == 'C' %}
                                <div class="ui red label wow fadeInRight" id="tags">
                                    Cancelado
                                </div>
                            {% endif %}
                        </div>
                        <div class="four wide column  wow fadeInLeft">
                            <img class="ui small centered image" src="{{ projeto.imagem }}">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for projeto in projetos_outros %}
            <div class="ui vertical segment {% if forloop.counter|divisibleby:2 %}fundo_cinza{% endif %}">
                <div class="ui middle aligned stackable grid container">

                    {% if forloop.first %}
                        <div class="centered row">
                            <h1 class="ui header" id="titulo_secao">Outras atividades</h1>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="twelve wide column">
                            <h2 class="ui header wow fadeInRight">{{ projeto.nome }}</h2>
                            <p class="justificado wow fadeInRight">{{ projeto.descricao|safe }}</p>

                            {% if projeto.status == 'D' %}
                                <div class="ui label wow fadeInRight" id="tags">
                                    <i class="check icon "></i>Ativo
                                </div>
                            {% elif projeto.status == 'A' %}
                                <div class="ui green label wow fadeInRight" id="tags">
                                    <i class="check icon "></i>Finalizado
                                </div>
                            {% elif projeto.status == 'F' %}
                                <div class="ui blue label wow fadeInRight" id="tags">
                                    <i class="check icon "></i>Finalizado
                                </div>
                            {% elif projeto.status == 'C' %}
                                <div class="ui red label wow fadeInRight" id="tags">
                                    Cancelado
                                </div>
                            {% endif %}
                        </div>
                        <div class="four wide column  wow fadeInLeft">
                            <img class="ui small centered image" src="{{ projeto.imagem }}">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock body %}