<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <p><b>PET-BCC UFSCar</b><br>
            Universidade Federal de São Carlos<br>
            Rodovia Washington Luís, km 235 - Jardim Guanabara - CEP 13565-905 - São Carlos/SP<br>
            Departamento de Computação, Sala 71<br>
        </p>
        <a class="ui facebook icon grey button" href="https://www.facebook.com/petbcc" target="_blank">
            <i class="facebook icon"></i>
        </a>
        <a class="ui grey icon button" href="mailto:petbcc@dc.ufscar.br" target="_blank">
            <i class="mail icon"></i>
        </a>
        <a class="ui grey icon button" href="https://github.com/petbccufscar" target="_blank">
            <i class="github icon"></i>
        </a>
    </div>
</div>