{% load staticfiles %}

<div class="ui inverted vertical footer segment">
    <div class="ui grid">
        <div class="two column row">
            <div class="right aligned column">
                <p align="right"><b>PET-BCC UFSCar</b><br>
                    Universidade Federal de São Carlos<br>
                    Rodovia Washington Luís, km 235 - Jardim Guanabara - CEP 13565-905 - São Carlos/SP<br>
                    Departamento de Computação, Sala 71<br>
                </p>
                <a class="ui facebook icon grey button" href="https://www.facebook.com/petbcc" target="_blank">
                    <i class="facebook icon"></i>
                </a>
                <a class="ui grey icon button" href="mailto:petbcc@dc.ufscar.br" target="_blank">
                    <i class="mail icon"></i>
                </a>
                <a class="ui grey icon button" href="https://github.com/petbccufscar" target="_blank">
                    <i class="github icon"></i>
                </a>
            </div>
            <div class="left aligned column">
                <div class="ui grid">
                    <div class="row">
                        <div class="three wide middle aligned column">
                            <a href="http://www.dc.ufscar.br" target="_blank">
                                <img class="ui small image" src="{% static 'site2016/images/logos/dc_branco.png' %}">
                            </a>
                        </div>

                        <div class="three wide middle aligned column">
                            <a href="http://www.ufscar.br" target="_blank">
                                <img class="ui small image" src="{% static 'site2016/images/logos/ufscar_branco.png' %}">
                            </a>
                        </div>

                        <div class="six wide middle aligned column">
                            <a href="http://portal.mec.gov.br/index.php" target="_blank">
                                <img class="ui small image"
                                     src="{% static 'site2016/images/logos/ministerio_da_educacao_vertical.png' %}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>