<div class="space-y-4 w-full border-2 border-gray-200 rounded-xl p-6">
  <p class="w-fit text-white text-sm px-3 py-1 bg-cyan-500 rounded-lg">Etapa {{ etapa }}</p>
  <div class="space-y-2">
    <h3 class="text-lg text-gray-800">{{ titulo }}</h3>
    <p class="text-gray-600">{{ descricao }}</p>
  </div>
  <div>
    <div class="flex gap-2 text-center text-gray-600">
      <p>Data:</p>

      <p>{{ data_inicio|date:'d/m' }}</p>
      {% if hora_inicio %}
        <p>{{ hora_inicio|time:'H:i' }})</p>
      {% endif %}

      <p>-</p>

      <p>{{ data_fim|date:'d/m' }}</p>
      {% if hora_fim %}
        <p>({{ hora_fim|time:'H:i' }})</p>
      {% endif %}
    </div>

    {% if data_resultado %}
      <div class="flex gap-2 text-center text-gray-600">
        <p>Resultado:</p>
        <p>{{ data_resultado|date:'d/m' }}</p>
        <p>
          {% if hora_resultado %}
            {{ hora_resultado|time:'H:i' }}
          {% endif %}
        </p>
      </div>
    {% endif %}
  </div>
</div>
