{% load static %}

<a class="flex cursor-pointer" href="{% url 'core:membro' id=id %}">
  <div class="flex flex-1 gap-4 items-center p-3 px-4 rounded-xl border border-transparent hover:border-gray-200 hover:bg-gray-100 hover:shadow-sm transition">
    <div class="w-10 md:w-14 rounded-full overflow-hidden bg-gray-200">
      {% if foto %}
        <img src="{{ foto }}" alt="" class="object-fill scale-120" />
      {% else %}
        <ion-icon name="person-outline" class="text-4xl text-gray-400"></ion-icon>
      {% endif %}
    </div>

    <div>
      <p class="text-gray-700 text-nowrap font-medium">{{ nome }}</p>
      <p class="text-gray-500 text-sm font-medium">{{ descricao }}</p>
    </div>
  </div>
</a>
