{% extends 'base.html' %}

{% block title %}
  PET BCC | Contato
{% endblock %}

{% block content %}
  {% include 'components/cabecalho_pagina.html' with icone='mail-outline' titulo='Contato' texto='Dúvidas, sugestões ou comentários? Entre em contato conosco pelo formulário a seguir' %}

  <div class="max-w-md mx-auto p-6 md:py-12">
    {% if messages %}
      {% for message in messages %}
        <div class="bg-green-100 text-green-800 p-4 rounded-lg mb-4 border border-green-300">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <form method="POST" novalidate class="space-y-4 max-w-md">
      {% csrf_token %}

      <!-- Nome -->
      <div>
        <label class="block font-medium mb-px text-gray-700">{{ form.name.label }}</label>
        {{ form.name }}
        {% if form.name.errors %}
          <p class="text-red-500 text-sm mt-1">{{ form.name.errors.0 }}</p>
        {% endif %}
      </div>

      <!-- Email -->
      <div>
        <label class="block font-medium mb-px text-gray-700">{{ form.email.label }}</label>
        {{ form.email }}
        {% if form.email.errors %}
          <p class="text-red-500 text-sm mt-1">{{ form.email.errors.0 }}</p>
        {% endif %}
      </div>

      <!-- Assunto -->
      <div>
        <label class="block font-medium mb-px text-gray-700">{{ form.subject.label }}</label>
        {{ form.subject }}
        {% if form.subject.errors %}
          <p class="text-red-500 text-sm mt-1">{{ form.subject.errors.0 }}</p>
        {% endif %}
      </div>

      <!-- Mensagem -->
      <div>
        <label class="block font-medium mb-px text-gray-700">{{ form.message.label }}</label>
        {{ form.message }}
        {% if form.message.errors %}
          <p class="text-red-500 text-sm mt-1">{{ form.message.errors.0 }}</p>
        {% endif %}
      </div>
      <button type="submit" class="w-full bg-primary-light text-gray-50 py-2 rounded-lg font-semibold hover:bg-primary transition">Enviar</button>
    </form>
  </div>

  <section class="google-maps-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3699.8238490302215!2d-47.88273818439348!3d-21.979722710974197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b8711e42fdad05%3A0x6a0cd2ccbce13d28!2sDepartamento+de+Computa%C3%A7%C3%A3o%2C+Universidade+Federal+de+S%C3%A3o+Carlos!5e0!3m2!1sen!2sus!4v1480425559308" width="1920" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>

  <style>
    .google-maps-responsive {
      overflow: hidden;
      padding-bottom: 30%;
      position: relative;
      height: 0;
    }
    
    @media (max-width: 800px) {
      .google-maps-responsive {
        padding-bottom: 50%;
      }
    }
    
    .google-maps-responsive iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  </style>
{% endblock %}
