{% extends 'base.html' %} {% block title %}
  PET BCC | Equipe
{% endblock %}
{% block content %}
  <div class="text-center">
    <section class="bg-gradient-to-r from-primary to-primary-light p-6">
      <ion-icon name="people-outline" class="text-5xl text-gray-50"></ion-icon>
      <h1 class="text-gray-50 font-bold text-lg mb-4">Nossa equipe</h1>
      <p class="text-gray-50">Conheça os membros que fazem parte do PET BCC</p>
    </section>
    <section class="p-6 md:py-12 space-y-8 md:space-y-12">
      <section>
        <h1 class="text-xl mb-6 md:mb-12 font-bold text-gray-800">Bolsistas</h1>
        <div class="w-fit items-center mx-auto grid grid-cols-3 md:grid-cols-6 gap-8">
          {% for membro in bolsistas %}
            {% include '../components/membro_equipe.html' with nome=membro.nome descricao=membro.descricao %}
          {% endfor %}
        </div>
      </section>
      <section>
        <h1 class="text-xl mb-6 md:mb-12 font-bold text-gray-800">Não bolsistas</h1>
        <div class="w-fit mx-auto grid grid-cols-3 md:grid-cols-6 gap-8">
          {% for membro in nao_bolsistas %}
            {% include '../components/membro_equipe.html' with nome=membro.nome descricao=membro.descricao %}
          {% endfor %}
        </div>
      </section>
      <section>
        <h1 class="text-xl mb-6 md:mb-12 font-bold text-gray-800">Colaboradores</h1>
        <div class="w-fit mx-auto grid grid-cols-3 md:grid-cols-6 gap-8">
          {% for membro in colaboradores %}
            {% include '../components/membro_equipe.html' with nome=membro.nome descricao=membro.descricao %}
          {% endfor %}
        </div>
      </section>
      <section>
        <h1 class="text-xl mb-6 md:mb-12 font-bold text-gray-800">Ex-membros</h1>
        <div class="w-fit mx-auto grid grid-cols-3 md:grid-cols-6 gap-8 bg-gray-100 border border-gray-200 p-6 rounded-xl">
          {% for membro in ex_membros %}
            {% include '../components/membro_equipe.html' with nome=membro.nome descricao=membro.descricao %}
          {% endfor %}
        </div>
      </section>
    </section>
  </div>
{% endblock %}
