{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        PET-BCC | Manutenção
      {% endblock %}
    </title>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    {% tailwind_css %}

    {% block extra_head %}

    {% endblock %}
  </head>
  <body class="bg-gray-50 antialiased">
    <main class="min-h-screen flex flex-col md:flex-row items-center justify-center p-6 gap-4">
      <ion-icon name="build-outline" class="text-gray-800 text-5xl"></ion-icon>
      <div>
        <h1 class="text-xl text-gray-800 font-bold">Em manutenção</h1>
        <p class="text-gray-600 z-1">Um momento. Nosso site está em manutenção e volta em breve!</p>
      </div>
    </main>
  </body>
</html>
