{% extends 'base.html' %}

{% block title %}
  PET-BCC | Início
{% endblock %}

{% load static %}

{% load estilos_tags %}

{% block content %}
  <!-- Conteúdo -->
  <div class="space-y-2">
    <div class="overflow-hidden">
      <img src="{% static 'images/foto_equipe.png' %}" alt="" class="w-full h-[220px] md:h-full object-cover" />
    </div>
    <h1 class="text-gray-800 text-sm md:text-lg font-black mb-2 text-right pr-4 shadow-inner-lg">PET-BCC (ɔ◔‿◔)ɔ ♥</h1>
  </div>

  <div class="max-w-6xl mx-auto p-6 md:py-12 space-y-12 md:space-y-24">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <section>
        <h1 class="text-2xl mb-6 md:mb-8 text-gray-800 font-bold text-start">O que é o PET</h1>
        <p class="text-justify text-gray-600">O Programa de Educação Tutorial (PET) é um programa do Governo Federal Brasileiro que possui o objetivo principal de elevar a qualidade dos cursos de graduação do país, como consta na Portaria 976/2010. A ideia é que cursos de graduação possuam um grupo PET de até 18 alunos (denominados de petianos), sendo 12 alunos bolsistas e 6 não-bolsistas sob a supervisão de um professor tutor. O grupo PET deve desenvolver atividades de ensino, pesquisa e extensão, promovendo a indissociabilidade entre esses três pilares.</p>
      </section>
      <section>
        <h1 class="text-2xl mb-6 md:mb-8 text-gray-800 font-bold text-start">Sobre o PET-BCC</h1>
        <p class="text-justify text-gray-600">O grupo PET do curso de Bacharelado em Ciência da Computação (PET-BCC) da Universidade Federal de São Carlos (UFSCar), campus São Carlos, iniciou suas atividades em outubro de 2009 ao ser contemplado no lote 2 do edital nº 05. Uma particularidade desse edital é que a chamada foi para grupos temáticos, isto é, além de estarem vinculados a um curso de graduação, também deveriam ter um tema para nortear suas atividades e projetos. O tema do PET-BCC é desenvolvimento de software.</p>
      </section>
    </div>

    <section>
      <h1 class="text-2xl mb-6 md:mb-12 text-gray-800 font-bold">Pilares do PET-BCC</h1>
      <div class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-4 gap-6 mb-8 md:mb-12">
        <div class="space-y-2 flex flex-col gap-4 items-start">
          <ion-icon name="book-outline" class="contain-none hidden md:flex text-4xl bg-blue-500 text-gray-50 p-5 rounded-xl shadow"></ion-icon>
          <div>
            <p class="text-blue-600 font-bold">Ensino</p>
            <p class="text-gray-600 max-w-sm">Desenvolvimento de atividades que complementam a formação academica dos estudantes.</p>
          </div>
        </div>
        <div class="space-y-2 flex flex-col gap-4 items-start">
          <ion-icon name="bulb-outline" class="contain-none hidden md:flex text-4xl bg-green-500 text-gray-50 p-5 rounded-xl shadow"></ion-icon>
          <div>
            <p class="text-green-500 font-bold">Pesquisa</p>
            <p class="text-gray-600 max-w-sm">Incentivo à produção ciêntífica e à participação em projetos de pesquisa.</p>
          </div>
        </div>
        <div class="space-y-2 flex flex-col gap-4 items-start">
          <ion-icon name="earth-outline" class="contain-none hidden md:flex text-4xl bg-red-500 text-gray-50 p-5 rounded-xl shadow"></ion-icon>
          <div>
            <p class="text-red-600 font-bold">Extensão</p>
            <p class="text-gray-600 max-w-sm">Projetos que conectam a universidade com a comunidade externa.</p>
          </div>
        </div>
        <div class="space-y-2 flex flex-col gap-4 items-start">
          <ion-icon name="code-slash-outline" class="contain-none hidden md:flex text-4xl bg-orange-500 text-gray-50 p-5 rounded-xl shadow"></ion-icon>
          <div>
            <p class="text-orange-600 font-bold">Desenvolvimento</p>
            <p class="text-gray-600 max-w-sm">Projetos para o aprendizado prático de desenvolvimento de software e soluções tecnológicas.</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="p-6 bg-gradient-to-r from-primary to-primary-light text-gray-50 rounded-xl text-center">
        <ion-icon name="school-outline" class="text-6xl"></ion-icon>
        <h1 class="font-medium text-xl mb-2">Faça parte do PET-BCC</h1>
        <p class="mb-6">Fique atento aos processos seletivos e venha fazer parte do nosso grupo!</p>
        <a href="{% url 'core:contato' %}" rel="noopener noreferrer" class="inline-flex py-2 px-4 transition-colors bg-cyan-500 hover:bg-cyan-600/90 text-gray-50 rounded-xl">Ver processo seletivo</a>
      </div>
    </section>
  </div>
{% endblock %}
