{% extends 'base.html' %}

{% block title %}
  PET BCC | Processo Seletivo
{% endblock %}

{% block content %}
  {% include 'components/cabecalho_pagina.html' with icone='happy-outline' titulo='Processo Seletivo' texto='Participe do processo seletivo e faça parte do Programa de Educação Tutorial em Ciência da Computação' %}

  <div class="max-w-6xl mx-auto p-6 md:py-12 space-y-8 md:space-y-12">
    <!-- prettier-ignore -->
    <section class="flex flex-col md:flex-row gap-4 p-8 text-center md:text-left bg-cyan-50 border-2 rounded-lg
      {% if JA_FECHOU %}
        border-gray-200
      {% else %}
         border-cyan-500
      {% endif %}">
      <div>
        <div class="inline-flex p-3 bg-cyan-500 rounded-xl">
          <ion-icon name="calendar-outline" class="text-4xl text-gray-50"></ion-icon>
        </div>
      </div>
      <div>
        <h2 class="text-lg font-bold text-gray-700 mb-2">Processo Seletivo - {{ PROCESSO.ano }}/{{ PROCESSO.semestre }}</h2>

        {% if PROCESSO.ativo %}
          {% if JA_FECHOU %}
            <p class="text-gray-600">As inscrições para o processo seletivo {{ PROCESSO.ano }}/{{ PROCESSO.semestre }} estão encerradas. Fique atento para as atualizações!</p>
          {% else %}
            <p class="text-gray-600">As inscrições para o processo seletivo {{ PROCESSO.ano }}/{{ PROCESSO.semestre }} estão abertas! Não perca a chance de fazer parte da nossa equipe.</p>
          {% endif %}
        {% else %}
          <p class="text-gray-600">Esse processo seletivo acabou... mas fique atento, em breve teremos um novo!</p>
        {% endif %}
      </div>
    </section>

    <section>
      <h2 class="text-lg mb-6 md:mb-8 font-bold text-gray-800 text-center md:text-left">Sobre as vagas</h2>
      <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-4">
        <div class="space-y-4 border-2 border-gray-200 rounded-xl p-6 md:p-6">
          <div class="flex flex-row justify-start items-center gap-4">
            <div class="bg-[#A855F7] p-2 rounded-xl flex flex-col items-center">
              <ion-icon name="person" class="text-2xl text-gray-50"></ion-icon>
            </div>
            <h3 class="text-gray-700 font-bold">Bolsista</h3>
          </div>

          <div class="text-justify text-gray-500 space-y-4">
            <p>
              O PET pode ter até <strong>12 alunos bolsistas</strong>, que recebem uma bolsa de <strong>R$700,00</strong> mensalmente.
            </p>
            <p>
              A dedicação é de <strong>20 horas semanais</strong> e a participação no PET garante ao aluno participação em 60 horas de atividades complementares elegíveis no curso de Ciência da Computação.
            </p>
          </div>

          <p class="text-sm font-bold bg-gray-100 text-gray-700 px-3 py-1 w-fit rounded-lg">
            {% if VAGAS.BOLSISTA > 0 %}
              {{ VAGAS.BOLSISTA }} vagas
            {% else %}
              Sem vagas
            {% endif %}
          </p>
        </div>
        <div class="space-y-4 border-2 border-gray-200 rounded-xl p-6 md:p-6">
          <div class="flex flex-row justify-start items-center gap-4">
            <div class="bg-[#A855F7] p-2 rounded-xl flex flex-col items-center">
              <ion-icon name="person" class="text-2xl text-gray-50"></ion-icon>
            </div>
            <h3 class="text-gray-700 font-bold">Não-Bolsista</h3>
          </div>

          <div class="text-justify text-gray-500 space-y-4">
            <p>
              Caso todas as vagas para alunos bolsistas já estejam preenchidas, o PET pode ainda ter <strong>6 alunos</strong> atuando como não-bolsistas.
            </p>
            <p>As condições são as mesmas dos bolsistas, bem como o certificado, que também vale como Atividades Complementares.</p>
          </div>

          <p class="text-sm font-bold bg-gray-100 text-gray-700 px-3 py-1 w-fit rounded-lg">
            {% if VAGAS.NAO_BOLSISTA > 0 %}
              {{ VAGAS.NAO_BOLSISTA }} vagas
            {% else %}
              Sem vagas
            {% endif %}
          </p>
        </div>
        <div class="space-y-4 border-2 border-gray-200 rounded-xl p-6 md:p-6">
          <div class="flex flex-row justify-start items-center gap-4">
            <div class="bg-[#A855F7] p-2 rounded-xl flex flex-col items-center">
              <ion-icon name="person" class="text-2xl text-gray-50"></ion-icon>
            </div>
            <h3 class="text-gray-700 font-bold">Colaborador</h3>
          </div>

          <div class="text-justify text-gray-500 space-y-4">
            <p>Caso as vagas para bolsistas e não-bolsistas já estiverem preenchidas, ainda é possível ser um membro do PET como colaborador.</p>
            <p>Mesmo como colaborador você terá participação efetiva nos projetos, garantindo muito conhecimento e um grande incremento em sua graduação.</p>
          </div>

          <p class="text-sm font-bold bg-gray-100 text-gray-700 px-3 py-1 w-fit rounded-lg">
            {% if VAGAS.COLABORADOR > 0 %}
              {{ VAGAS.COLABORADOR }} vagas
            {% else %}
              Sem vagas
            {% endif %}
          </p>
        </div>
      </div>
    </section>

    <section>
      <h2 class="text-lg mb-6 md:mb-8 font-bold text-gray-800 text-center md:text-left">Sobre as etapas</h2>
      <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-4">
        {% for ETAPA in ETAPAS %}
          {% include 'components/card_etapa.html' with etapa=ETAPA.ordem titulo=ETAPA.titulo descricao=ETAPA.descricao data_inicio=ETAPA.data_inicio hora_inicio=ETAPA.hora_inicio data_fim=ETAPA.data_fim hora_fim=ETAPA.hora_fim data_resultado=ETAPA.data_resultado hora_resultado=ETAPA.hora_resultado %}
        {% endfor %}
      </div>
    </section>

    <section>
      <h2 class="text-lg mb-6 md:mb-8 font-bold text-gray-800 text-center md:text-left">Requisitos</h2>
      <div class="w-full space-y-2 bg-cyan-50 border-2 rounded-xl border-cyan-500 p-6">
        <p class="text-gray-700">Para se inscrever no processo seletivo, o candidato deverá:</p>
        <ul class="list-decimal list-inside">
          <li class="flex gap-2">
            <span class="text-gray-700">1.</span>
            <p class="text-gray-500">
              Ser aluno(a) regularmente matriculado(a) no curso de
              <strong>Bacharelado em Ciência da Computação da UFSCar</strong>, campus São Carlos;
            </p>
          </li>
          <li class="flex gap-2">
            <span class="text-gray-700">2.</span>
            <p class="text-gray-500">
              Caso o CANDIDATO já tenha tido vínculo com o PET BCC UFSCar (como bolsista ou não bolsista) e tenha sido desligado do programa,
              <strong>poderá ser inscrever novamente no processo seletivo se</strong>, e somente se,
              <strong>entre a data do seu desligamento e a inscrição tenha ocorrido a finalização de um semestre letivo com digitação de nota</strong>.
            </p>
          </li>
        </ul>
      </div>
    </section>

    <section class="w-full flex flex-col text-center md:text-left">
      <h2 class="text-lg mb-6 md:mb-8 font-bold text-gray-800">Inscrição</h2>
      <div class="w-full flex flex-col md:flex-row justify-start gap-6 bg-cyan-50 border rounded-xl border-gray-200 p-8">
        <div>
          <ion-icon name="clipboard-outline" class="bg-blue-500 text-gray-50 p-3 rounded-xl text-3xl"></ion-icon>
        </div>
        <div class="space-y-4">
          <div class="space-y-2">
            <h3 class="text-lg text-gray-700">Formulário de Inscrição</h3>
            <p class="text-gray-500">As inscrições devem ser realizadas por meio do preenchimento do formulário digital.</p>
            <p class="text-gray-500">
              <strong>ATENÇÃO:</strong> As inscrições estarão abertas entre <strong>{{ PROCESSO.inicio_inscricao|date:'d/m/Y' }}</strong> e <strong>{{ PROCESSO.fim_inscricao|date:'d/m/Y' }}</strong>
            </p>
          </div>
          <div>
            <a href="{{ PROCESSO.formulario }}" target="_blank" rel="noopener noreferrer" class="inline-flex px-4 py-2 bg-cyan-500 text-cyan-50 border border-cyan-50 rounded-lg transition-colors hover:bg-cyan-50 hover:text-cyan-500 hover:border-cyan-500" aria-label="Preencher formulário de Google Forms">Acessar o Formulário</a>
          </div>
        </div>
      </div>
    </section>

    <section class="w-full flex flex-col text-center md:text-left">
      <h2 class="text-lg mb-6 md:mb-8 font-bold text-gray-800">Edital</h2>
      <div class="w-full flex flex-col md:flex-row justify-start gap-6 bg-cyan-50 border rounded-xl border-gray-200 p-8">
        <div>
          <ion-icon name="document-text-outline" class="bg-purple-500 text-gray-50 p-3 rounded-xl text-3xl"></ion-icon>
        </div>
        <div class="space-y-4">
          <div class="space-y-2">
            <h3 class="text-lg text-gray-700">Documento Oficial</h3>
            <p class="text-gray-500">Detalhes sobre documentos necessários, critérios, cronogramas e outras informações devem ser verificados no edital.</p>
          </div>
          <div>
            <a href="{{ PROCESSO.edital.url }}" target="_blank" rel="noopener noreferrer" type="application/pdf" aria-label="Ler o Edital do Processo Seletivo 2025 em PDF" class="inline-flex px-4 py-2 bg-cyan-50 text-purple-500 border border-purple-500 rounded-lg transition-colors hover:bg-purple-500 hover:text-cyan-50 hover:border-cyan-50">Ler Edital Completo (PDF)</a>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
