{% extends 'base.html' %} 

{% block title %}
  PET BCC | Projetos
{% endblock %}

{% block content %}
    {% include 'components/cabecalho_pagina.html' with icone='briefcase-outline' titulo='Nossos projetos' texto='Conheça os projetos que o PET BCC desenvolve nas áreas de ensino, pesquisa e extensão' %}

    <section class="max-w-6xl mx-auto p-6 md:py-12 space-y-8 md:space-y-12">
      <section>
        <div>
          <form method="get" class="block md:hidden space-y-2">
            <label for="categoria">Filtre por categoria:</label>
            <select name="categoria" onchange="this.form.submit()" class="w-full border rounded-lg px-4 py-2 bg-white">
              <option value="">Todas</option>
              {% for categoria in categorias %}
                <option value="{{ categoria.slug }}"
                  {% if categoria.slug == categoria_ativa %} 
                    selected 
                  {% endif %}>
                  {{ categoria.nome }}
                </option>
              {% endfor %}
            </select>
          </form>
        </div>
        <div class="hidden md:flex p-2 rounded-full gap-2 justify-center m-auto w-fit">
          <!-- prettier-ignore -->
          <a href="{% url 'core:projetos' %}"
            class="px-4 py-2 font-bold rounded-full hover:bg-gray-200
            {% if not categoria_ativa %}
                !bg-gray-800 text-white
            {% else %}
                text-gray-500
            {% endif %}">
            Todos
          </a>
          <!-- prettier-ignore -->
          <a href="?categoria=ensino"
            class="px-4 py-2 font-bold rounded-full hover:bg-gray-200
            {% if categoria_ativa == 'ensino' %} 
              !bg-blue-500 text-white 
            {% else %} 
              text-gray-500 
            {% endif %}">
            Ensino
          </a>
          <!-- prettier-ignore -->
          <a href="?categoria=pesquisa"
            class="px-4 py-2 font-bold rounded-full hover:bg-gray-200
            {% if categoria_ativa == 'pesquisa' %}
               !bg-green-500 text-white
            {% else %}
               text-gray-500
            {% endif %}">
            Pesquisa
          </a>
          <!-- prettier-ignore -->
          <a href="?categoria=extensao"
            class="px-4 py-2 font-bold rounded-full hover:bg-gray-200
            {% if categoria_ativa == 'extensao' %}
               !bg-red-500 text-white
            {% else %}
               text-gray-500
            {% endif %}">
            Extensão
          </a>
          <!-- prettier-ignore -->
          <a href="?categoria=desenvolvimento-de-software"
            class="px-4 py-2 font-bold rounded-full hover:bg-gray-200
            {% if categoria_ativa == 'desenvolvimento-de-software' %}
               !bg-orange-500 text-white
            {% else %}
               text-gray-500
            {% endif %}">
            Desenvolvimento
          </a>
        </div>
      </section>
      
      <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-4">
        {% for projeto in projetos %}
          {% include '../components/card_projeto.html' with id=projeto.id categoria=projeto.categoria tecnologias=projeto.tecnologias nome=projeto.nome descricao=projeto.descricao ano=projeto.data_inicio.year status=projeto.status %}
         {% empty %}
          <p class="text-gray-600 mx-auto">Nenhum projeto encontrado para esta categoria.</p>
         {% endfor %}
      </section>

      <section>
        <div class="bg-gray-100 p-6 md:py-12 flex gap-4 flex-col items-center rounded-lg text-center">
          <p class="text-gray-800 font-bold">Tem uma ideia de projeto?</p>
          <p class="text-gray-800">O PET BCC está sempre aberto a novas ideias e parcerias. Entre em contato conosco!</p>
          <a class="p-2 px-4 bg-cyan-500 text-gray-50 rounded-lg hover:underline" href="{% url 'core:contato' %}">Entre em contato</a>
        </div>
        </section>
    </section>
{% endblock %}
