{% extends 'manual_c/base.html' %}

{% block title %}
  limits.h - Manual C
{% endblock %}

{% block content %}
  <section class="lib-section">
    <h1 class="lib-title">&lt;limits.h&gt;</h1>

    <!-- DESCRIÇÃO -->

    <div class="lib-description">
      <p>
        No cabeçalho <strong class="text-orange-600">&lt;limits.h&gt;</strong> estão definidas as constantes que delimitam os valores máximos e mínimos que variáveis de um dado tipo podem assumir. Assim, é possível operar com os tipos presentes na linguagem C tendo-se absoluta certeza que uma determinada variável serve ao propósito de alguma aplicação para a qual ele foi designado, uma vez que se espera que essa variável esteja limitada superiormente e inferiormente.
      </p>
    </div>

    <h2 class="sub-section-text-lib">Macros</h2>

    <ul class="list-macro-description">
      <li>
        <p>
          <strong>CHAR_BIT:</strong> quantidade de bits necessários para se representar uma variável do tipo char.
        </p>
      </li>

      <li>
        <p>
          <strong>SCHAR_MIN:</strong> valor numérico mínimo que um signed char pode assumir.
        </p>
      </li>

      <li>
        <p>
          <strong>SCHAR_MAX:</strong> valor numérico máximo que um signed char pode assumir.
        </p>
      </li>

      <li>
        <p>
          <strong>UCHAR_MAX:</strong> valor numérico máximo que um unsigned char pode assumir.
        </p>
      </li>

      <li>
        <p>
          <strong>CHAR_MIN:</strong> valor numérico mínimo que um signed char pode assumir.
        </p>
      </li>

      <li>
        <p>
          <strong>CHAR_MAX:</strong> valor numérico máximo que um signed char pode assumir.
        </p>
      </li>

      <li>
        <p>
          <strong>SHRT_MIN:</strong> valor numérico mínimo que um short int pode assumir.
        </p>
      </li>

      <li>
        <p>
          <strong>SHRT_MAX:</strong> valor numérico máximo que um short int pode assumir.
        </p>
      </li>

      <li>
        <p>
          <strong>USHRT_MAX:</strong> valor numérico máximo que um unsigned short int pode assumir.
        </p>
      </li>

      <li>
        <p>
          <strong>INT_MIN:</strong> valor numérico mínimo que um int pode assumir.
        </p>
      </li>

      <li>
        <p>
          <strong>INT_MAX:</strong> valor numérico máximo que um int pode assumir.
        </p>
      </li>

      <li>
        <p>
          <strong>UINT_MAX:</strong> valor numérico máximo que um unsigned int pode assumir.
        </p>
      </li>

      <li>
        <p>
          <strong>LONG_MIN:</strong> valor numérico mínimo que um long int pode assumir.
        </p>
      </li>

      <li>
        <p>
          <strong>LONG_MAX:</strong> valor numérico máximo que um long int pode assumir.
        </p>
      </li>

      <li>
        <p>
          <strong>ULONG_MAX:</strong> valor numérico máximo que um unsigned long int pode assumir.
        </p>
      </li>
    </ul>

    <!-- FUNÇÕES -->

    <h2 class="sub-section-text-lib">Funções</h2>

    <div class="func-description">
      <p>Não há funções nesta biblioteca.</p>
    </div>
  </section>
{% endblock %}
