{% load static %}

{% block sidebar_content %}
<div class="ui stackable grid container">
  <div class="one wide center aligned column">
    <div class="ui left fixed top attached vertical center aligned menu manC_sidebar funcoes_manC">
      <div class="item">
        <div class="header">
          <h3 class="ui manC_laranja header">Bibliotecas</h3>
        </div>
      </div>
      <div class="item">
        <div class="menu manC_sidebar">
          <a href="" class="item"><b>assert.h</b></a>
          <a href="" class="item"><b>ctype.h</b></a>
          <a href="" class="item "><b>errno.h</b></a>
          <a href="{% url 'math_h' %}" class="{% if pagina == 'math_h' %}active{% endif %} item"><b>math.h</b></a>
          <a href="" class="item"><b>time.h</b></a>
          <a href="" class="item"><b>string.h</b></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
