{% extends 'site2016/base.html' %}
{% load static %}

{% block title %}
Math.h - Manual C
{% endblock title %}

{% block head_extensions %}

{% endblock head_extensions %}

{% block body %}
<div class="ui grid">
  <div class="sixteen wide column manC_title">
    <header class="ui inverted masthead center aligned segment" id="fundo_azul_titulo">
      <h1 class="ui inverted header">
        &ltmath.h&gt
      </h1>
    </header>
  </div>
</div>
<main role="main" class="main_manC">
  <section class="ui vertical stripe segment" id="fundo_cinza" role="region">
    <div class="ui stackable centered grid container">
      <div class="one wide column">
        {% block sidebar_content %} 
        {% include 'site2016/manualC/leftSidebar.html' %} 
        {% endblock %}
      </div>
      <div class="twelve wide column">
        <div class="ui centered vertical padded segment">
          <h1 class="manC_laranja">Descrição:</h1>
          <p class="justificado">
            Na biblioteca <b class="manC_laranja_escuro">&ltmath.h&gt</b> estão
            contidas diversas funções matemáticas básicas, com ela podemos
            trabalhar com funções trigonométricas, funções para cálculo de raiz
            quadrada, valor absoluto, entre outras. Esta listagem apresenta as seguintes
            funções conforme definidas pelo padrão C99. A inclusão das funções da
            biblioteca matemática são feitas com a opção de compilação <b>-lm</b>. Vale
            lembrar que todas as funções dessa biblioteca retornam valores do
            tipo double. Veremos, a seguir, todas elas.
          </p>
        </div>
        <div class="ui large left aligned huge header manC_laranja">
          <h1>Funções:</h1>
        </div>
        <div class="ui very relaxed divided list">
          <div class="item">
            <div class="content">
              <a class="manC_laranja odd" href="{% url 'math_funcoes' %}#acos">
                <h3>double acos(double x)</h3>
              </a>
              <div class="description">
                RETORNA: o cosseno de um ângulo; isto é, um número entre -1 e 1,
                tal que -1&lt=cosseno&lt=1
              </div>
              <div class="description">
                RECEBE: o ângulo, em radianos, do cosseno que foi informado como
                parâmetro ou NaN se o argumento estiver fora do domínio de
                entrada.
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a
                class="manC_laranja_escuro"
                href="{% url 'math_funcoes' %}#asin"
              >
                <h3>double asin(double x)</h3>
              </a>
              <div class="description">
                RETORNA: o seno de um ângulo, tal que, -1 &lt= seno &lt= 1.
              </div>
              <div class="description">
                RECEBE: o ângulo, em radianos, cujo seno foi informado como
                parâmetro ou NaN se o argumento estiver fora do domínio de
                entrada.
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="manC_laranja odd" href="{% url 'math_funcoes' %}#atan">
                <h3>double atan(double x)</h3>
              </a>
              <div class="description">RETORNA: a tangente de um ângulo.</div>
              <div class="description">
                RECEBE: o ângulo, em radianos, cuja tangente foi informado como
                parâmetro.
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="manC_laranja_escuro" href="{% url 'math_funcoes' %}#atan2">
                <h3>double atan2(double x, double y)</h3>
              </a>
              <div class="description">
                RETORNA: o arco tangente de y / x no intervalo de π a π
                radianos, dos valores informados como parâmetros.
              </div>
              <div class="description">
                RECEBE: dois argumentos do tipo double: x, y. Elas são
                representações de um ponto no plano cartesiano.
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="manC_laranja odd" href="{% url 'math_funcoes' %}#cos">
                <h3>double cos(double x)</h3>
              </a>
              <div class="description">
                RETORNA: o valor do cosseno do ângulo que foi informado como
                parâmetro.
              </div>
              <div class="description">RECEBE: um ângulo em radianos.</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="manC_laranja_escuro" href="{% url 'math_funcoes' %}#sin">
                <h3>double sin(double x)</h3>
              </a>
              <div class="description">
                RETORNA: o valor do seno do ângulo que foi informado como
                parâmetro.
              </div>
              <div class="description">RECEBE: um ângulo em radianos.</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="manC_laranja odd" href="{% url 'math_funcoes' %}#tan">
                <h3>double tan(double x)</h3>
              </a>
              <div class="description">
                RETORNA: o valor da tangente do ângulo que foi informado como
                parâmetro.
              </div>
              <div class="description">RECEBE: um ângulo em radianos.</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="manC_laranja_escuro" href="{% url 'math_funcoes' %}#cosh">
                <h3>double cosh(double x)</h3>
              </a>
              <div class="description">
                RETORNA: o cosseno hiperbólico do valor informado como
                parâmetro.
              </div>
              <div class="description">
                RECEBE:o valor de um ângulo em radianos.
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="manC_laranja odd" href="{% url 'math_funcoes' %}#sinh">
                <h3>double sinh(double x)</h3>
              </a>
              <div class="description">
                RETORNA: o seno hiperbólico do valor informado como parâmetro.
              </div>
              <div class="description">
                RECEBE: o valor de um ângulo em radianos.
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="manC_laranja_escuro" href="{% url 'math_funcoes' %}#tanh">
                <h3>double tanh(double x, double y)</h3>
              </a>
              <div class="description">
                RETORNA: a tangente hiperbólica do valor informado como
                parâmetro.
              </div>
              <div class="description">
                RECEBE: o valor de um ângulo em radianos.
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="manC_laranja odd" href="{% url 'math_funcoes' %}#exp">
                <h3>double exp(double x)</h3>
              </a>
              <div class="description">
                RETORNA: o número de Euler (~2.71) elevado a x: ex = exp(x),
                informado como parâmetro.
              </div>
              <div class="description">RECEBE: um número x do tipo double.</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="manC_laranja_escuro" href="{% url 'math_funcoes' %}#log">
                <h3>double log(double x)</h3>
              </a>
              <div class="description">
                RETORNA: o valor de ln x, ou seja, o logaritmo de x na base e.
              </div>
              <div class="description">RECEBE: um valor x do tipo double.</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="manC_laranja odd" href="{% url 'math_funcoes' %}#log10">
                <h3>double log10(double x)</h3>
              </a>
              <div class="description">
                RETORNA: o valor de ln x, ou seja, o logaritmo de x na base e.
              </div>
              <div class="description">RECEBE: um valor x do tipo double.</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="manC_laranja_escuro" href="{% url 'math_funcoes' %}#modf">
                <h3>double modf(double x, double *p)</h3>
              </a>
              <div class="description">
                RETORNA:  a parte decimal de x no valor da função e a parte inteira de x no parâmetro p.
              </div>
              <div class="description">RECEBE: o valor double x e o endereço de um double p.</div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="manC_laranja odd" href="{% url 'math_funcoes' %}#pow">
                <h3>double pow(double x, double y)</h3>
              </a>
              <div class="description">
                RETORNA:   x elevado a y.
              </div>
              <div class="description">RECEBE:  dois valores do tipo double, x e y, em que x será a base e y será o expoente.
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="manC_laranja_escuro" href="{% url 'math_funcoes' %}#sqrt">
                <h3>double sqrt(double x)</h3>
              </a>
              <div class="description">
                RETORNA: a raiz quadrada de x ou NaN se x for negativo.

              </div>
              <div class="description">RECEBE: x, um valor do tipo double.
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="manC_laranja odd" href="{% url 'math_funcoes' %}#ceil">
                <h3>double ceil(double x)</h3>
              </a>
              <div class="description">
                RETORNA: o menor inteiro maior ou igual a x. 
              </div>
              <div class="description">RECEBE: x, um valor do tipo double.
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="manC_laranja_escuro" href="{% url 'math_funcoes' %}#fabs">
                <h3>double fabs(double x)</h3>
              </a>
              <div class="description">
                RETORNA: o módulo de x. 
              </div>
              <div class="description">RECEBE: x, um valor do tipo double.
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="manC_laranja odd" href="{% url 'math_funcoes' %}#floor">
                <h3>double floor(double x)</h3>
              </a>
              <div class="description">
                RETORNA:o maior valor inteiro menor ou igual a x.
              </div>
              <div class="description">RECEBE:  x, um valor do tipo double.
              </div>
            </div>
          </div>
        <br>
        </div>
      </div>
      <div class="one wide column">
        {% block sidebar_content2 %} 
        {% include 'site2016/manualC/math/rightSidebar.html' %} 
        {% endblock %}
      </div>
    </div>
  </section>
</main>
{% endblock %}
