{% extends 'manual_c/base.html' %}

{% block title %}
errno.h - Manual C
{% endblock %}

{% block content %}
<section class="lib-section">
  <h1 class="lib-title">&lt;errno.h&gt;</h1>

  <!-- DESCRIÇÃO -->

  <div class="lib-description">
    <p class="mb-4">
      O arquivo de cabeçalhos <b>&lterrno.h&gt</b> fornece alguns macros de números inteiros para reconhecer e relatar
      erros de execução através de códigos de erro, esses códigos são fornecidos pelo próprio sistema operacional e
      retornados ao programa durante sua execução.
    </p>
    <p class="mb-4">
      A variável errno recebe um valor inteiro referente ao erro obtido. Uma tabela de todos os erros pode ser
      encontrada em
      <a class="text-blue-600 underline" href="https://linux.die.net/man/3/errno">errno</a>.
    </p>
    <p class="mb-6">Em um escopo de cálculos matemáticos, os que mais ocorrem são:</p>
    <ul class="list-lib-description">
      <li>
        <p>
          <strong>EDOM (33)</strong>: Um argumento viola o domínio dos valores suportados, ou seja, quando deixa de
          pertencer aos
          números reais. Geralmente sua compilação não é impedida, porém, o resultado “nan” (not a numstronger) é
          mostrado.
        </p>
      </li>
      <li>
        <p>
          <strong>ERANGE (34)</strong>: O resultado da função está fora do intervalo dos valores válidos. Quando
          utilizado junto
          com a biblioteca &ltmath.h&gt, os resultados “inf” e “-inf” são obtidos.
        </p>
      </li>
    </ul>
  </div>

  <!-- FUNÇÕES -->

  <h2 class="sub-section-text-lib">Funções</h2>

  <div class="func-description">
    <p>Não há funções nesta biblioteca.</p>
  </div>

  <!-- EXEMPLO -->

  <h2 class="sub-section-text-lib">Exemplo de uso</h2>

  <pre class="code-block"><code class="language-c">#include &ltstdio.h&gt 
#include &ltmath.h&gt 
#include &lterrno.h&gt 
#include &ltstring.h&gt

int main() { 

  printf("log(-1.0) = %f\n", log(-1.0)); 
  printf("Erro de número %d obtido!\n", errno); 
  printf("Descrição do erro: %s\n\n", strerror(errno));

  printf("log(0.0) = %f\n", log(0.0)); 
  printf("Erro de número %d obtido!\n", errno); 
  printf("Descrição do erro: %s", strerror(errno));

  return 0; 
}</code></pre>

  <h2 class="sub-section-text-lib">Saída do terminal</h2>

  <pre class="output-block"><code>>clang-7 -pthread -lm -o main main.c 
>./main 
log(-1.0) = -nan 
Erro de número 33 obtido! 
Descrição do erro: Numerical argument out of domain

log(0.0) = -inf 
Erro de número 34 obtido! 
Descrição do erro: Numerical result out of range</code></pre>
</section>
{% endblock %}