.branco {
    background: #FFFFFF;
}

#menu_principal {
    background: rgba(255, 255, 255, 0.85);
}

@media only screen and (min-width: 768px) {
    #masthead_index {
        min-height: 550px;
        padding: 0em 0em 0em 0em;
        margin-top: 0em;
        background: url('../images/equipe.jpg');
        -webkit-background-size: cover;
        background-size: cover;
        height: 550px;
        background-position: top;
        position: relative;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 767px) {
    #masthead_index {
        min-height: 450px;
        padding: 0em 0em 0em 0em;
        margin-top: 0em;
        background: url('../images/equipe.jpg');
        -webkit-background-size: auto;
        background-size: cover;
        background-position: center;
        position: relative;
    }
}

#principal_home {
    /*background: #0c4d78;*/
    /*background: #003e67;*/
    background: rgba(0, 0, 0, 0.65);
    padding: 0em;
    /*margin-top: 0em;*/
    border-radius: 0px; /* verificar o porque isso não é padrão */
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    margin-right: 0px;
    margin-left:0px;
}

#fundo_azul_titulo {
    /*background: #0c4d78;*/
    background: #003e67;
    padding: 0em;
    padding-top: 5.5em;
    padding-bottom: 0.8em;
    margin-top: 0em;
    border-radius: 0px; /* verificar o porque isso não é padrão */
    overflow-x: hidden;
}

#fundo_cinza {
    background: #FAFAFA;
}

#foto_membro_equipe {
    margin-bottom: 20px;
}

body {
    /*background: #1b1c1d;*/
    background: #03253c;
}

.justificado {
    text-align: justify;
}

#titulo_home {
    padding-top: 0.2em;
    padding-bottom: 0em;
    margin-bottom: 0.2em;
    font-weight: 900;
}

#subtitulo_home {
    padding-top: 0em;
    margin-top: 0em;
    padding-bottom: 0.2em;
}

p {
    font-size: 1.1rem;
}

#titulo_pagina {
    font-weight: 900;
    text-transform: uppercase;
}

#titulo_secao {
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 0.5em;
}

.processo_seletivo > h3 > a {
    color: #e0e1e2;
    font-weight: 900;
}

.go-top {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 1em;
    right: 1em;
    color: #ffffff;
    font-size: 24px;
    display: none;
    position: fixed;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    border-radius: 7px;
}

.go-top:hover {
    background: #003e67;
    color: #ffffff;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
}

footer .ui.icon.button, .ui.icon.buttons .button {
    margin-bottom: 8px;
    padding: .35em;
}

footer .ui.mini.button, .ui.mini.buttons .button, .ui.mini.buttons .or {
    font-size: 1.15rem;
}

footer #paragrafo_rodape {
    margin-left: 0.5rem;
}

footer #paragrafo_rodape {
    font-size: 1rem;
}

footer #paragrafo_rodape > b {
    font-weight: 900;
}

#rodape {
    background: #03253c;
}

.ui.vertical.stripe.segment.processo_seletivo {
    background: #0c4d78;
}

.ui.container.processo_seletivo > h3 {
    background: #0c4d78;
    padding-top: 0em;
    margin-top: 0em;
    padding-bottom: 0.2em;
}

.ui.container.processo_seletivo > h1 {
    padding-top: 0.2em;
    padding-bottom: 0em;
    margin-bottom: 0.2em;
    font-weight: 900;
    text-transform: uppercase;
}