@charset "UTF-8";
@import url(semantic/semantic.min.css);

:root {
    --main-dark-color: #007194;
    --main-light-color: #008db9;
}

.branco {
    background: #FFFFFF;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    [class*="mobile hidden"],
    [class*="or lower hidden"] {
      display: none !important;
    }
  }
  

@media only screen and (min-width: 768px) {
    #hero_section {
        min-height: 550px;
        padding: 0em 0em 0em 0em;
        margin-top: 0em;
        background: url('../images/equipe.jpg');
        -webkit-background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 100vh;
    }
}

@media only screen and (max-width: 767px) {
    #hero_section {
        min-height: 450px;
        padding: 0em 0em 0em 0em;
        margin-top: 0em;
        background: url('../images/equipe.jpg');
        -webkit-background-size: auto;
        background-size: cover;
        background-position: center;
        position: relative;
    }
}

#principal_home {
    background: rgba(0, 0, 0, 0.75);
    padding: 0em;
    border-radius: 0px; /* verificar o porque isso não é padrão */
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    margin-right: 0px;
    margin-left: 0px;
}

#fundo_azul_titulo {
    background: var(--main-light-color);
    padding-top: 5.5em;
    margin-bottom: 0em;
    margin-top: 0em;
    border-radius: 0px; /* verificar o porque isso não é padrão */
    overflow-x: hidden;
}

.fundo_cinza {
    background: #FAFAFA !important;
}


#foto_membro_equipe {
    margin-bottom: 20px;
}

body {
    background: var(--main-dark-color);
}

.justificado {
    text-align: justify;
}

#titulo_home {
    padding-top: 0.3em;
    padding-bottom: 0em;
    margin-bottom: 1em;
}

#subtitulo_home {
    padding-top: 0em;
    margin-top: 0em;
    padding-bottom: 0.3em;
}

p {
    font-size: 1.1rem;
}

#titulo_pagina {
    font-weight: 900;
    text-transform: uppercase;
    padding: 0em;
}

#titulo_secao {
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 0.5em;
}

.processo_seletivo > h3 > a {
    color: #e0e1e2;
    font-weight: 900;
}

.go-top {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 1em;
    right: 1em;
    color: #ffffff;
    font-size: 24px;
    display: none;
    position: fixed;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    border-radius: 7px;
}

.go-top:hover {
    background: #000000;
    color: #ffffff;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
}

footer .ui.icon.button, .ui.icon.buttons .button {
    margin-bottom: 0.5em;
    padding: .35em;
}

footer .ui.mini.button, .ui.mini.buttons .button, .ui.mini.buttons .or {
    font-size: 1.15rem;
}

footer #paragrafo_rodape {
    margin-left: 0.5rem;
}

footer #paragrafo_rodape {
    font-size: 1rem;
}

footer #paragrafo_rodape > b {
    font-weight: 900;
}

#rodape {
    background: var(--main-dark-color);
}

.ui.vertical.stripe.segment.processo_seletivo {
    background: var(--main-light-color);
}

.ui.container.processo_seletivo > h3 {
    padding-top: 0em;
    margin-top: 0em;
    padding-bottom: 0.2em;
}

.ui.container.processo_seletivo > h1 {
    padding-top: 0.2em;
    padding-bottom: 0em;
    margin-bottom: 0.2em;
    font-weight: 900;
    text-transform: uppercase;
}

.ui.fixed.menu {
    z-index: 1001;
}