/* Tons de laranja da paleta de cores */
.manC_laranja_escuro {
  color: #ba5e02 !important; /* !important para sobrescrever o estilo do Semantic UI */
}

.manC_laranja {
  color: #f77e05 !important;
}

.manC_laranja_claro {
  color: #ff8f1f !important;
}

.imagem_colaborador {
  padding: 20px !important;
}

/* Aumentando a area de "hoover" do dropdown para o retangulo todo do manual c */
.ui.dropdown {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-left: 1em;
  margin-left: -1em;
}

/* Links da lista de funções para as páginas principais de cada biblioteca */
a.manC_laranja,
a.manC_laranja_escuro {
  font-weight: bold !important;
  padding-left: 10px;
}

a.manC_laranja:hover,
a.manC_laranja_escuro:hover {
  color: #ff8f1f !important;
}

.manC_laranja.odd {
  /* Isso foi gambiarra, mas funciona */
  color: #007194 !important;
}

.item {
  padding: 5px !important;
}

.item:hover {
  color: #ba5e02 !important;
}

/*  Teoricamente o codigo abaixo era pra funcionar, teoricamente...
.ui.list>.item a:nth-child(odd) {
  color: #007194 !important;
} */

/* Padding nos retornos e recebes da lista de função */
.description {
  padding-top: 5px;
  padding-left: 15px;
}

/* Paginas das funções da math.h */
.ui.horizontal.divider {
  padding: 30px;
}

.ui.inverted.segment,
.ui.inverted.header {
  background: var(--main-light-color);
  margin-bottom: 0em;
  margin-top: 0em;
  border-radius: 0px; /* verificar o porque isso não é padrão */
  overflow-x: hidden;
}

b.fundo_azul_titulo_manC {
  font-size: medium !important;
}

/* Estilo do texto do manC para o menu superior breadcrumb */
a {
  color: black !important;
}

/* Par ao menu ficar abaixo do titulo da página */
.ui.right.fixed.vertical.menu,
.ui.left.fixed.vertical.menu {
  top: 2em;
  font-size: 18px;
  font-weight: bold !important;
  z-index: 0;
  width: 10em;
  padding: 0em;
  padding-top: 1em !important;
  z-index: 1;
}

/* Faz o rodapé ficar a frente das barras laterais */
div#rodape {
  z-index: 2;
}

main.main_funcoes {
  padding-top: 2em;
}
