{% load static %}

<footer class="w-full bg-gradient-to-r from-primary to-primary-light">
    <div class="flex flex-col max-w-[1040px] mx-auto py-6 gap-6 items-center justify-center">
        <div>
            <div>
                <p>PET-BCC UFSCar</p>
                <p>Programa de Educação Tutorial em Bacharelado em Ciência da Computação da UFSCar Campus São Carlos</p>
            </div>
            <div>
                <p>Contato</p>
                <p>Rod. Washington Luís, s/n - Monjolinho, São Carlos - SP, 13565-905 - Departamento de Computação petbcc.ufscar@gmail.com</p>
            </div>
            <div>
                <p></p>
                <div>
                    <p><a href=""></a></p>
                    <p><a href=""></a></p>
                    <p><a href=""></a></p>
                </div>
            </div>
            <div>
                <img src="" alt="" srcset=""><img src="" alt="" srcset=""><img src="" alt="" srcset="">
            </div>
        </div>
        <hr class="w-full border-1 border-cyan-500" />
        <p class="text-gray-50">© 2025 PET-BCC UFSCar. Todos os direitos reservados</p>
    </div>
</footer>