{% load static %}

{% block sidebar_content2 %}
<div class="mobile hidden ui centered stackable grid">
  <div class="ui right fixed vertical menu">
      <div class="item">
        <div class="header">
          <h2 class="ui manC_laranja header">Funções</h2>
        </div>
      </div>
      <div class="item">
        <div class="menu">
          <a class="item"  href="{% url 'ctype_funcoes' %}#isalnum"><b>isalnum()</b></a>
          <a class="item"  href="{% url 'ctype_funcoes' %}#isalpha"><b>isalpha()</b></a>
          <a class="item"  href="{% url 'ctype_funcoes' %}#iscntrl"><b>iscntrl()</b></a>
          <a class="item"  href="{% url 'ctype_funcoes' %}#isdigit"><b>isdigit()</b></a>
          <a class="item"  href="{% url 'ctype_funcoes' %}#isgraph"><b>isgraph()</b></a>
          <a class="item"  href="{% url 'ctype_funcoes' %}#islower"><b>islower()</b></a>
          <a class="item"  href="{% url 'ctype_funcoes' %}#isprint"><b>isprint()</b></a>
          <a class="item"  href="{% url 'ctype_funcoes' %}#ispunct"><b>ispunct()</b></a>
          <a class="item"  href="{% url 'ctype_funcoes' %}#isspace"><b>isspace()</b></a>
          <a class="item"  href="{% url 'ctype_funcoes' %}#isupper"><b>isupper()</b></a>
          <a class="item"  href="{% url 'ctype_funcoes' %}#isxdigit"><b>isxdigit()</b></a>
          <a class="item"  href="{% url 'ctype_funcoes' %}#tolower"><b>tolower()</b></a>
          <a class="item"  href="{% url 'ctype_funcoes' %}#toupper"><b>toupper()</b></a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
