{% load static %}

{% block sidebar_content2 %}
<div class="mobile hidden ui centered stackable grid ">
  <div class="ui right fixed vertical menu">
      <div class="item">
        <div class="header">
          <h2 class="ui manC_laranja header">Funções</h2>
        </div>
      </div>
      <div class="item">
        <div class="menu">
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#strcat"><b>strcat()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#strncat"><b>strncat()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#strcpy"><b>strcpy()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#strncpy"><b>strncpy()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#strcmp"><b>strcmp()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#strncmp"><b>strncmp()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#strcoll"><b>strcoll()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#strlen"><b>strlen()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#strchr"><b>strchr()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#strtok"><b>strtok()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#strspn"><b>strspn()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#strcspn"><b>strcspn()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#strpbrk"><b>strpbrk()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#strrchr"><b>strrchr()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#strerror"><b>strerror()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#strstr"><b>strstr()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#memchr"><b>memchr()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#memcmp"><b>memcmp()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#memcpy"><b>memcpy()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#memmove"><b>memmove()</b></a>
          <a class="item active manC_sidebar"  href="{% url 'string_funcoes' %}#memset"><b>memset()</b></a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
